[2021-08-28 04:31] AndrewSverdrup commented on #1553
Hmm there hasn't been an entry in the logfile in a few hours. I had tried a couple versions of the Sidekiq gem and that may have caused the logging to break. I'm back on 4.6.5 of the Sidekiq gems and the logfile is still empty. The `Sentry.capture_message` manually reported errors are still the only ones showing up in Sentry.

[2021-08-28 05:26] st0012 commented on #1553
I'm sorry but I'm not able to debug the issue with so little information. I can't make random guesses and ask you to try them repeatedly.

[2021-08-28 05:59] AndrewSverdrup commented on #1553
No problem, I will reach back out if I can create a reproduction case. Thanks for your time!

[2021-08-28 20:22] rromanchuk commented on #1293
fwiw,  i did like the idea of being able to use a keypath_string => Hash.  Especially in the case when enriching/appending context. In those enriching cases, i usually already have the `Hash`, and it's the keypath that matters. When i'm yielding that block for enrichment reasons it's less of a gather and organize exercise.

Just noticed it when was trying to remove all the `set_extras`, where the

[2021-08-28 20:37] rromanchuk commented on #1293
Also, In the context of a base controller, in a before_action to setup the context for the request, i feel like i might be using the wrong setter. I guess it better conveys this is structured data that follows a spec, and not a random of hash the developer dumped

[code]

[2021-08-31 13:12] st0012 commented on #1183
@boof can you tell me which version did you use when encountered the issue?

[2021-08-31 13:13] boof commented on #1183
sentry-ruby-core (4.6.5)

[2021-08-31 13:20] st0012 commented on #1183
thanks, I'll revisit the issue recently.

[2021-09-01 14:36] TAGraves opened #1556 "report_after_job_retries does not report errors for jobs with 0 retries"
**Describe the bug**
I was excited to see the `report_after_job_retries` feature get released in sentry-sidekiq this morning. Unfortunately we have many jobs configured with `sidekiq_options retry: 0` and failures in these jobs do not appear to be sent to Sentry. Thankfully the fix looks pretty simple so I will open a PR with an attempt at fixing it.

**To Reproduce**
Set `config.sidekiq.report_af

[2021-09-01 15:28] #1556 closed

[2021-09-01 16:25] st0012 commented on #1556
@TAGraves your fix has been released now. thanks again 🙂

[2021-09-01 23:52] georgeclaghorn opened #1558 "Rails integration: trace Active Storage events"
Rails’s [Active Storage](https://edgeguides.rubyonrails.org/active_storage_overview.html) component generates the following `ActiveSupport::Notifications` events:

* `service_upload.active_storage`
* `service_download.active_storage`
* `service_streaming_download.active_storage`
* `service_download_chunk.active_storage`
* `service_delete.active_storage`
* `service_delete_prefixed.active_storage`
*

[2021-09-02 09:38] st0012 commented on #1183
@boof in your case, did you use any breadcrumb logger in your setup? or can you provide your Sentry configuration when using `sentry-ruby`?

[2021-09-02 09:55] kornate commented on #1548
Hi @st0012! More information in how this is supported and used in Sentry.io's other SDKs is here, it's how I heard of the feature: https://blog.sentry.io/2021/02/03/how-to-use-sentry-attachments-with-mobile-applications

For us, we are looking at capturing browser DOM screenshots for errors.

[2021-09-02 10:02] boof commented on #1183
Yes we did use the active_support_logger:

[code]

[2021-09-02 10:03] tsrivishnu opened #1559 "Exceptions from ActiveJob with Resque backend are not captured on Sentry"
**Describe the bug**

Exceptions from ActiveJob jobs are not sent to Sentry. The jobs simply fail and no errors are sent to Sentry.

<img width="694" alt="image" src="https://user-images.githubusercontent.com/2265280/131824846-dc24d011-1116-46b0-b233-cd84eafd25b5.png">

I'm not sure if I'm missing any configuration options for this to work correctly.

**To Reproduce**

[code]

[code]

**Expected b

[2021-09-02 11:03] st0012 commented on #1548
`sentry-ruby` doesn't run in browsers. how do you plan to capture browser screenshots with it?

[2021-09-02 11:36] Math3v opened #1560 "Confusing report_after_job_retries"
Hello guys 👋

I recently came accross the `report_after_job_retries` configuration option that is available for both Sidekiq and DelayedJob.

I have two things:

1. IMHO it's only documented for the [DelayedJob](https://docs.sentry.io/platforms/ruby/guides/rack/configuration/integration_options/#sentry-delayed_job) and I could not find it in [Sidekiq's configuration docs](https://docs.sentry.io/pl

[2021-09-02 12:15] Math3v opened #1561 "Cannot initialize with `report_after_job_retries`"
**Describe the bug**
Sentry's is failing to initialize when passing the `report_after_job_retries` option for Sidekiq integration.

**To Reproduce**

**Expected behavior**

**Actual behavior**

**Environment**
 - Ruby Version:
 - SDK Version: 4.6.5
 - Integration Versions (if any):
 Sidekiq 4.6.4

**Sentry Config**

This is not necessary but could be helpful.

[code]

[2021-09-02 12:16] Math3v commented on #1561
I hit enter too soon.

[2021-09-02 12:19] Math3v opened #1562 "Cannot initialize with `report_after_job_retries`"
**Describe the bug**
Sentry's is failing to initialize when passing the report_after_job_retries option for Sidekiq integration.

**To Reproduce**
See init below. Fails with:
[code]

**Environment**
 - Ruby Version:  2.7.x
 - SDK Version: 4.6.5
 - Integration Versions (if any):
Sidekiq 4.6.4

**Sentry Config**

[code]

Am I misunderstanding how to set this configuration option correctly? 🙏

[2021-09-02 12:26] st0012 commented on #1562
It’s only available after 4.7.0 🙂

[2021-09-02 13:02] #1562 closed

[2021-09-02 13:04] st0012 commented on #1560
@Math3v it means "report after all retries". the SDK by default reports every single exception. this options is to report only the last failure.

as for the missing document, I'll update that shortly.

[2021-09-02 13:36] st0012 commented on #1558
@georgeclaghorn thanks for the suggestion. I'll add it in version `4.8.0` 🙂

[2021-09-02 13:40] tsrivishnu commented on #1559
Explicitly sending a message works both from rails console or from with the job's `perform` method.

I will try to reproduce in a sample app and push that.

[2021-09-02 14:48] tsrivishnu commented on #1559
Here is the test app: https://github.com/tsrivishnu/rails-sentry-resque-active-job-test. I included instructions to run it in docker with docker-compose.

Let me know if you face any issues.

Correction to my previous comment.
Manually sending message with `Sentry.capture_message` works from console but not from the job's `perform` method.

[2021-09-02 14:59] chris-canipe opened #1563 "Missing or underreported errors for `ActiveRecord::ConnectionTimeoutError`"
**Describe the bug**

We're seeing `ActiveRecord::ConnectionTimeoutError` errors in Airbrake and Splunk that are either:
1. Not reported in Sentry; or
2. Are reported in Sentry at a much lower rate

**To Reproduce**

Use up all pooled database connections and ask for more.

**Expected behavior**

The number of errors reported in Sentry are comparable to those reported in other tools.

**Actual beh

[2021-09-02 15:09] st0012 commented on #1559
@tsrivishnu ok it's because resque worker doesn't contain either `RAILS_ENV` or `RACK_ENV`, so the SDK uses a default `"default"` environment (inherited from the old SDK). and because it's not in your `enabled_environments`, event capturing is disabled.

I think you can make it work by adding `default` to the list.

I'll make a PR to change the default environment to `'development'`.

[2021-09-02 15:20] st0012 commented on #1563
thanks for reporting. I need additional information before diving into the issue:
- did you use all 3 SDKs together or you tested them one at a time?
- can you share the result of `bundle exec rake middleware`?

[2021-09-02 15:32] chris-canipe commented on #1563
Stan, we were on one SDK at a time.

#### `bundle exec rake middleware`:

[code]

[2021-09-02 16:20] st0012 commented on #1563
@chris-canipe thanks for the information 👍
I can confirm that the SDK doesn't handle the exception properly, probably because it's raised from a middleware.

does this backtrace looks similar to what you see in other services?

[code]

[2021-09-02 16:28] tsrivishnu commented on #1559
@st0012 Thank you. I confirm that it works after adding `default` to the `enabled_environments` list or passing `RAILS_ENV=development` to the Resque worker. 👍🏽

Feel free to close this issue or keep it open for you to track the PR to change the default environment to 'development'.

[2021-09-02 16:37] chris-canipe commented on #1563
Great find!

I assume this also explains why sometimes Sentry reported errors, but at a lower rate? For example, for a few errors that made it into Sentry, I'm able to verify in Splunk that they were thrown outside of middleware.

I haven't seen any of the backtraces yet. We recently enabled `debug` but unfortunately those errors do not go into Splunk and we have to examine the logs live. And thes

[2021-09-03 08:50] st0012 commented on #1563
I think it may be fixed by moving `Sentry::Rails::RescuedExceptionInterceptor` right before `ActionDispatch::DebugExceptions`. so it'll look like

[code]

[2021-09-03 11:00] st0012 commented on #1563
@chris-canipe I've added https://github.com/getsentry/sentry-ruby/pull/1564 to fix the issue. can you try the branch and check if that fixes your issue?

[code]

[2021-09-03 14:16] #1559 closed

[2021-09-03 15:02] kornate commented on #1548
Correct, but sentry-ruby doesn't need to run in the browser. I use other SDKs for selenium testing with ruby. I only need to be able to upload an image blob and attach it to sentry when an error is raised.

It's possible in other SDKs and I imagine that the requirement to upload attachments covers a vast array of possible uses beyond mine alone.

We already save the image blob to file when an erro

[2021-09-03 15:08] st0012 commented on #1548
I can understand your use case of this feature but it's also the only one I've received at the moment. And given that it's primarily for test environment use, I don't plan to implement this feature just for it. I'm afraid that I'll need some other use cases (particularly production ones) before implementing this.

[2021-09-03 18:40] chris-canipe commented on #1563
Thank you! We've deployed this and I'll let you know what we find. It may take a while since these errors aren't common.

[2021-09-07 14:48] #1560 closed

[2021-09-07 14:50] st0012 commented on #1563
@chris-canipe hey do you have some numbers now? I think if you can see a few hundreds of them it should mean it's working? otherwise I'll start working toward other directions.

[2021-09-08 03:18] #1563 closed

[2021-09-08 13:09] chris-canipe commented on #1563
@st0012 we haven't seen any show up in Splunk yet in order to make the comparison. I'll let you know as soon as we do; it could take weeks (based on looking at past data).

[2021-09-08 13:34] st0012 commented on #1563
@chris-canipe I see. I've merged the fix anyway because it works in my local testing. I'll try to ship it this week.

[2021-09-11 04:09] mengqing opened #1569 "Filter out exceptions for specific sidekiq job"
Is it possible to skip / filter out any exceptions or specific exceptions for one particular sidekiq job?

[2021-09-13 04:15] st0012 commented on #1569
You can rescue that exception in your worker's `perform` method and it won't be reported. But if you want to exclude it from Sentry while wanting to retry it, it's not possible to do at the moment.

[2021-09-15 20:57] jpcody opened #1570 "Suppress notifications on Sidekiq retries"
**Describe the idea**

I'd love if Sidekiq could report only on the first retry.

**Why do you think it's beneficial to most of the users**

If retries are errors in application code or longer outages of third-party dependencies, capturing a series of the same errors isn't useful.

**Possible implementation**

A `config.sidekiq.report_on_retries` boolean configuration option could be checked in `S

[2021-09-16 11:53] st0012 commented on #1570
Since version `4.7.0`, `sentry-sidekiq` has an option called [`report_after_job_retries`](https://docs.sentry.io/platforms/ruby/configuration/integration_options/#sentry-sidekiq). When it's turned on, the SDK will only report the exception after all retries have failed.
Although it reports the "last" retry instead of the "first" like you proposed, I think it should achieve the behavior you want 🙂

[2021-09-16 12:41] jpcody commented on #1570
Thanks for responding, @st0012. I should have clarified that I'm aware of `report_after_job_retries` and think that the inverse behavior is very valuable.

By default, [Sidekiq's exponential backoff](https://github.com/mperham/sidekiq/wiki/Error-Handling#automatic-job-retry) starts every minute and goes on for ~20 days. If an exception happened over the weekend in a background job, by the time it

[2021-09-16 13:29] st0012 commented on #1570
Before continuing the discussion, let's make sure we're on the same page. Are these the behaviors you expect?

|                                               | `report_on_retries = true` (default) | `report_on_retries = false` |
|-----------------------------------------------|--------------------------------------|-----------------------------|
| `report_after_job_retries = false`  (default) | R

[2021-09-16 13:58] jpcody commented on #1570
If we're on the same page that this behavior is _currently_ unsupported and would be valuable in the future, I think we're good to talk about expected behaviors. Your chart might be correct for my prior thinking, but I think seeing it laid out shows I wasn't thinking thoroughly enough, and I think that would be confusing for users.

I think it's really three states: reporting after the first insta

[2021-09-17 02:16] jpcody opened #1572 "How can we dynamically switch between DSNs or clients?"
Sorry for a second ticket in a single day—evaluating switching over to Sentry, which leads to lots of questions!

Within our Rails application, we're serving both HTML and an API that powers a mobile application. We'd like to monitor the two of these as separate Sentry projects as they have different performance characteristics and demands and sometimes different teams responsible for fixes.

Prev

[2021-09-17 09:11] masterkain opened #1573 "can't write unknown attribute `start_timestamp` during instrumentation"
I got hit by a nasty bug that halted our callbacks pipeline that involves activesupport instrumentation.

[code]

simplified code follows.

model:

[code]

then we have a subscription method but it's not gonna be reached.

this is because of https://github.com/getsentry/sentry-ruby/blob/master/sentry-rails/lib/sentry/rails/tracing.rb#L40

![Screenshot 2021-09-17 at 11 09 50](https://user-images.gi

[2021-09-17 09:39] masterkain commented on #1573
I worked around this issue by prefixing the event name with a `!`, initially I tried to create an accessor `start_timestamp` on my entities but it didn't quite worked out.

[2021-09-17 14:24] ThomasSevestre opened #1574 "crash when error message is a symbol"
When the error message is a symbol, passing the error to sentry leads to the following error :

[code]

[2021-09-17 16:13] st0012 commented on #1572
Since the DSN binds at Client level, you can probably have 2 clients with different DSNs and use `Hub#bind_client` to switch the main hub's client. This way, you can have the same hub that can report to different DSNs.

[code]

However, this is not the way this SDK is expected to be used and it relies on an internal API to work. So there's no guarantee that this will work and I won't spend too muc

[2021-09-17 16:13] #1572 closed

[2021-09-19 06:34] #1573 closed

[2021-09-20 14:27] st0012 commented on #1574
@ThomasSevestre Thanks for reporting this. It shouldn't return such exceptions.
However, it still won't take Symbol and you should pass String instead.

[2021-09-22 06:21] #1574 closed

[2021-09-22 06:33] st0012 commented on #1553
@AndrewSverdrup I hope you've sorted this problem out now?

[2021-09-24 15:06] st0012 commented on #7
fyi, I'm adding a partial support of this feature in https://github.com/getsentry/sentry-ruby/pull/1580

[2021-09-24 16:30] mecampbellsoup commented on #7
GO STAN, GO! ❤️

[2021-09-25 15:06] #1569 closed

[2021-09-26 04:06] pyromaniac opened #1583 "No transport_failure_callback replacement in Sentry-Ruby"
Hello, I'm migrating to sentry-ruby and didn't find any substitute for the `transport_failure_callback` option. I checked the code and the only thing it does - raises `Sentry::ExternalError`.

I see 2 potential solutions here:
1. Either provide similar callback under `transport` config option.
2. Or report the problem with the logger in a `fatal` level so we could log it somewhere.

For now I'm tr

[2021-09-26 08:43] st0012 commented on #1583
@pyromaniac We removed the option universally (cross all SDKs) because it's not helpful to most users and was misused from time to time. However, if you still want to capture external failures, using your customized Transport class is the recommended way. I think you can avoid the error by placing the code like this:

[code]

[2021-09-26 09:02] st0012 commented on #1570
I think I like this solution the most.

But this is actually the first time that I received such request (either in old SDK or the current one). So I'm not sure if the benefit of this change would worth the effort. For example:
- Is it really necessary to receive a job failure event if the job later succeeded?
- If a job is allowed for 20 retries, it must be very error-tolerant. Then why is it cri

[2021-09-26 12:30] pyromaniac commented on #1583
Hey @st0012 . Thanks for the explanation. Unfortunately, the suggested approach doesn't work as well. Fails with the same exception.

[2021-09-26 12:53] st0012 commented on #1583
@pyromaniac I tested it in my app and it worked 🤔
would you mind sharing your Sentry config?

[2021-09-26 13:07] pyromaniac commented on #1583
Sure, so far it is:

`config/initializers/sentry.rb`

[code]

[2021-09-26 15:04] jpcody commented on #1570
Thanks for taking the time to circle back on this, Stan.

We're often dealing with bulk actions that are still important to customers but too expensive for web requests or imports. So we want to get those failure notices as soon as possible.

I think this is the real question. We use sidekiq's default retry configuration, which does seem optimized for intermittent availability issues with third-pa

[2021-09-26 15:20] jpcody opened #1584 "How can we minimize bot and crawler transactions?"
As a bit of background, we have a multitenant, subdomain-based application.

When looking at our performance, our numbers are thrown off by high-speed, no-value crawlers and bots who hit `hostname.com/whatever`. We expect our customers to hit `customer.hostname.com/whatever`. We have a middleware that redirects them away for being robots and another that redirects them away for not using a valid s

[2021-09-27 16:12] Bugagazavr commented on #1522
At my job, we are working fine with the `async` because we already have the sidekiq in our stack. I can't understand why `async` can't be an optional way to deliver events without `async` deprecation? As a  solution, you can highlight possible issues with `async` in the documentation.

Maybe I can't understand the problem because using sentry only for exceptions without APM.

[2021-09-27 16:36] st0012 commented on #1522
@Bugagazavr

There are 2 main cost of having this option around:

1. Among all Sentry SDKs, `sentry-ruby` is the only one that supports such option. This means we always need to consider this extra condition when making changes to the event sending logic. And it'll make future SDK alignment harder. (It surely made `sentry-raven` -> `sentry-ruby` conversion harder)
2. We need to spend additional ef

[2021-09-28 15:57] earnold opened #1585 "sentry-sidekiq throwing ActiveJob::SerializationError in v4.7.3"
### Issue Description

Hi there,

Since upgrading to the latest version of `sentry-sidekiq` gem, I'm getting numerous errors like this in my logs:

[code]

Is this something I should be worried about? At a minimum, I'd like to clean it up from my logs.

### Reproduction Steps

Use rails & active job & sidekiq & sentry.

### Expected Behavior

There shouldn't be errors with normal usage.

### Actua

[2021-09-29 09:45] rusucosmin commented on #1496
+1

[2021-09-30 08:49] kreintjes commented on #1427
[code]

Same problem over here. Still having this issue with scout_apm (4.1.2) and Sentry (4.7.3). Problem also occurs with Sentry 4.4.2, 4.5.2 and 4.6.5.

What is the recommended approach of action for now? Downgrade to Sentry 4.3 and wait for scout_apm 5 to land?

[2021-09-30 10:32] popcorn commented on #1570
@jpcody - can you share your monkey patch code?

[2021-09-30 10:35] jpcody commented on #1570
Sure thing: https://gist.github.com/jpcody/dc6704c89d5b130d31dae849a6ccb62d

[2021-09-30 10:53] popcorn commented on #1570
Love the integrity checker. Thanks!

[2021-09-30 11:01] popcorn commented on #1570
@jpcody - imagine you have an error in your worker. It fails, the error gets sent to Sentry. You fix the issue, but then a different error happens on the retry. This error wouldn't get sent to Sentry.

Probably low probability of this happening but just thinking of the edge cases.

[2021-09-30 11:09] jpcody commented on #1570
That's actually a great point, and I don't consider that low-probability. While I have never once written a class with two different bugs, I hear that other people have 😆

We are typically doing manual checks of the retry queue, so we would eventually catch this, but it'd sure be nice to be able to disregard the notification only if it was the same error coming from the same line number. If I can

[2021-09-30 11:23] popcorn commented on #1570
Sidekiq keeps data about the exception for the jobs in the `retries` queue. But, once it moves the job from `retries` to a real queue then I think this data gets dropped.

[2021-09-30 12:28] cecilian commented on #1553
Unless there's some incredibly dumb mistake I'm making, the same is happening for me but in *development* environment.

ruby-2.7.3
Rails 6.1.3.2
sentry-ruby 4.7.3
I followed the basic install instructions.

In console
- `Sentry.capture_message("test message")`:
dumps the entire Sentry instance in stdout, followed by the line `Sending envelope [event] 3526457bc9764dab90ed1546aed2c594 to Sentry`. Th

[2021-10-01 01:02] choxi opened #1586 "Configuring Tracing for Sidekiq"
What is the recommended way to pass a trace ID from Rails to a Sidekiq worker? I have this configuration:

[code]

and

[code]

When I queue a Sidekiq job:

[code]

It currently starts a separate trace for the controller and the worker, but I'd like the worker to belong to the same trace as the request. Is there a way to do this?

[2021-10-01 03:45] st0012 commented on #1586
@choxi currently it's not possible without adding your own Sidekiq client middleware. but I think this is something we should support natively. so I'll implement it in a future release 🙂

[2021-10-01 13:52] st0012 commented on #1585
@earnold I'm not sure what could cause this because `sentry-sidekiq` should already filter the `_aj_globalid` key:

https://github.com/getsentry/sentry-ruby/blob/53deb6eeefef79a06a89660d7a4fb073e53c61e5/sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb#L9

can you provide an example app that can reproduce the problem? it'll help me debug this issue.

an unrelated note: we don't recommend using th

[2021-10-01 14:04] st0012 commented on #1553
@cecilian that's because the SDK doesn't capture exceptions raised in Rails console. it only automatically captures exceptions raised in:
- rack requests
- rake tasks
- supported background jobs

capturing errors in Rails console is generally not useful but noisy because it'll mostly be human errors (think about all the typos) instead of program errors.
if you want to test automatic error-capturin

[2021-10-02 00:38] travisp commented on #781
@st0012 this update is useful, but would you consider something that also includes some of the original request to be able to specify which exceptions should be sent? There are many cases where it's useful to ignore certain exceptions that will be retried (until exhaustion), but still report other exceptions.

[2021-10-02 04:06] st0012 commented on #1427
@kreintjes I hope you (and others that still are bothered by the issue) to push Scout to migrate to the `prepend` approach. Since both `skylight` and `appsignal` have migrated to it in their recent releases too, I don't think there should be any technical blocker for this change (of course, it won't be an easy one).

And before they finally do it, you can disable Scout's http instrumentation to wo

[2021-10-02 04:14] st0012 commented on #781
@travisp I can understand the use case, but I won't put that in high priority for now. but if anyone can propose an implementation for it, I'll consider it.

[2021-10-02 04:17] st0012 commented on #1570
Some users have also proposed concepts like `config.retryable_exceptions` (like [this comment](https://github.com/getsentry/sentry-ruby/issues/781#issuecomment-932648014)), which feels like tackling the same issue from a different angle. Do you think that'll be better than just setting an universal retry-able job index?

[2021-10-02 09:28] st0012 commented on #1558
@georgeclaghorn I've implemented the feature in https://github.com/getsentry/sentry-ruby/pull/1588. But because I can only test it against the simple example app locally, it'd be great if you can also test this branch (even just locally) before I merge it 🙂

[2021-10-04 02:47] #1558 closed

[2021-10-09 12:14] #1586 closed

[2021-10-13 15:58] st0012 opened #1591 "Migrate codecov's uploader"
https://about.codecov.io/blog/introducing-codecovs-new-uploader

[2021-10-18 09:04] st0012 commented on #1219
@BastienL can you open a new issue with steps to reproduce the problem? that'll help a lot, thanks 😄

[2021-10-20 09:42] iker-barriocanal commented on #1553
Closing this issue due to the lack of information/repro case, and a question that has been answered. Feel free to comment here if you have more information that can help replicate the issue.

Thanks!

[2021-10-20 09:42] #1553 closed

[2021-10-20 09:49] iker-barriocanal commented on #1429
This behavior is by design, so closing the issue.

[2021-10-20 09:59] iker-barriocanal commented on #808
Closing this issue due to staleness. Feel free to comment here if you're using the latest version and still think we should work on this.

Thanks!

[2021-10-20 09:59] #808 closed

[2021-10-27 23:10] robguthrie opened #1597 "Sentry Tunnel Rails Engine"
I'm starting to notice that clients are blocking the sentry requests from their browser. :(

I looked into your documentation and see that you recommend a tunnel.

I'm not sure how to translate the PHP example into a Rails example, Do you have some example code for implementing a sentry tunnel into Rails?

I figure it could be a good use case for a rails engine that users of the sentry-rails gem c

[2021-10-28 13:57] #1473 closed, assigned to st0012

[2021-10-28 21:14] st0012 opened #1600 "Customize `Sentry::Event#inspect`"
Right now `Sentry::Event#inspect` contains a bunch of data that aren't really helpful for inspection (like `Configuration` object) and it's pretty much useless. But it's also the easiest way for users to inspect the content of their event. So we should customize the method and make it more similar or even identical to the json-format of the event.

[2021-10-31 11:26] st0012 commented on #1183
@boof sorry that I was too busy these 2 months and couldn't help you address the issue more actively 😢
do you know what other issues your team have seen during the trial? I'd like to learn more about them.

@DanAndreasson do you also have the issue? if so, would you mind open a new issue with more detail about it?

[2021-11-02 02:16] bkazez opened #1615 "Ruby: configuration.rb:406: warning: instance variable @dsn not initialized"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

When running ruby with `-w`, I get this warning repeatedly:

[code]

### Expected Result

No warnings

### Actual Result

[code]

[2021-11-04 17:19] sl0thentr0py commented on #1597
Hey @robguthrie, sorry it took a while to get my hands free and test it out but I've added a rails tunneling example in our docs now. They will take a while to get merged/go online but you can check out the code sample [here](https://github.com/getsentry/sentry-docs/pull/4361/files#diff-23d8ab7811d8d020edb23c1bc636a0d8a2573c73925b24cea677972bb51a05bf).

[2021-11-04 17:52] robguthrie commented on #1597
oh that was quick! Thank you. That has made my day!

[2021-11-04 18:35] sl0thentr0py commented on #1597
closing this now, pls reopen if you need more help

[2021-11-04 18:35] #1597 closed

[2021-11-04 21:03] #1585 closed

[2021-11-04 21:13] #794 closed

[2021-11-04 21:13] #864 closed

[2021-11-04 21:13] #494 closed

[2021-11-04 21:13] #470 closed

[2021-11-05 02:26] robguthrie commented on #1597
@sl0thentr0py just wanted to say thanks again. I'm running a tunnel based off that example and it works well.

[2021-11-05 11:00] lacco opened #1603 "delayed job integration: payload reached its size limit"
### Issue Description

We recently switched from `sentry-raven` to the new version of the SDK.
Everything seems to work for Rails HTTP requests, but exception tracking for DelayedJob causes some issues.

From time to time, we see the following log entries:

[code]

This only happens for tracing/ exception tracking in our delayed jobs.

I tried to narrow down the issue in two ways:
1. `config.debug

[2021-11-05 11:02] st0012 commented on #1603
@lacco it's probably because the breadcrumb generated for the delayed job query. can you try disabling `breadcrumbs_logger` (remove the line)?

[2021-11-05 13:31] lacco commented on #1603
@st0012  Breadcrumbs are disabled now, exceptions are no longer showing them.

But the issue is still there, is there something else that I can try?

[2021-11-05 18:44] #1488 closed

[2021-11-06 11:28] st0012 commented on #1603
@lacco can you try using the `log-event-in-debug-mode` branch with `debug` mode? it should print events in json format (notice: it may be verbose) to help you collect the related event. you can then paste a processed version here or send me privately [on discord](https://discord.com/invite/PXa5Apfe7K).

[2021-11-08 13:35] #1591 closed

[2021-11-08 14:01] sl0thentr0py opened #1611 "Implement Envelope/Item classes"
It would be nice to move the [envelope creation](https://github.com/getsentry/sentry-ruby/blob/06e6d785c293659913608037edf57e77e026caa3/sentry-ruby/lib/sentry/transport.rb#L91-L95) logic into a separate class so we can add more items in the future to the same envelope.

[2021-11-08 16:13] #1600 closed

[2021-11-08 21:37] iloveitaly opened #1612 "Synchronously drain async error reporting queue"
If you are using a background queue like Resque, threads are killed after a job completes. In this scenario, I believe errors would fail to send to sentry.

Is there a way to synchronously drain the async error reporting queue? This could be added to a before exit hook on the resque side.

[2021-11-08 22:09] st0012 commented on #1612
I'm aware of the problem you mentioned here, but it depends on how the errors are captured.
For exceptions captured by the `sentry-resque` gem, they'll be sent immediately and doesn't enter the background worker. So the scenario doesn't affect those events.
But for manually captured events, they may be lost if the process is killed before they're sent as you said. I've tried to tackle this before

[2021-11-08 22:22] iloveitaly commented on #1612
@st0012 thanks for the snappy reply!

Yeah, it's a tricky problem.

Could we add something along the lines of `drain_and_shutdown` to `BackgroundWorker`? It could:

* Send a shutdown signal to the thread pool. I'm not sure, but I imagine this would signal to the threads to finish up their current work and terminate?
* Call [`wait_for_termination`](https://ruby-concurrency.github.io/concurrent-ruby

[2021-11-08 22:36] st0012 commented on #1612
It's not that I don't want to provide such API, but the underneath `concurrent-ruby` doesn't seem to have one ([document](https://ruby-concurrency.github.io/concurrent-ruby/1.1.8/Concurrent/ThreadPoolExecutor.html)). Perhaps I'm missing something here?
If you can find an API for that, I'll try. I'll also consider a different thread pool worker if there's any?

[2021-11-08 22:47] iloveitaly commented on #1612
I'm no concurrent-ruby expert, but I think this three-step flow would work?

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/150855/140830260-b7da44de-4e62-4580-81fb-c9219309382c.png">

[2021-11-09 08:42] st0012 commented on #1612
Last time I checked this issue on `concurrent-ruby` I found this: https://github.com/ruby-concurrency/concurrent-ruby/pull/841. From the PR, it looks like the current implementation should replace the manual shutdown procedure with `at_exit` block. So I assume this will not do much of the difference. But I'll check this again recently.

[2021-11-09 17:35] basherru commented on #1583
@pyromaniac This is being caused by an empty dsn, you may always set the dsn and use `enabled_environments` to limit the environments.

[2021-11-10 05:46] pyromaniac commented on #1583
Ah, I see, so `config.transport.transport_class = transport if config.dsn` might work as well, right?

[2021-11-10 19:25] iloveitaly commented on #1612
Here's what I'm testing out:

[code]

Shutdown process copied from:
https://github.com/ruby-shoryuken/shoryuken/blob/0d89335abca86021a9d9036a93d43233aa8b061c/lib/shoryuken/launcher.rb#L26-L33

Here's what the resque hooks look like:

[code]

[2021-11-11 11:00] sinshutu commented on #956
@st0012

I was able to reproduce it in my environment.
I've also created a minimum app.

see https://github.com/sinshutu/sample-rails-sentry-calling-the-error-handler-twice/tree/main

Just run ./setup.sh and you will see it run twice!

[2021-11-11 11:02] st0012 commented on #956
@sinshutu thanks for the feedback. I've reopened this issue and will check it later.

[2021-11-11 18:12] EmmN commented on #1236
ugly hack if anyone needs it

[code]

[2021-11-11 18:36] st0012 commented on #1236
@EmmN wow thanks for the snippet. I think you can actually write a custom transport class like `LegacyTransport < HTTPTransport`, and assign it with `config.transport.transport_class = LegacyTransport`. it should make the code simpler.

[2021-11-11 19:30] EmmN commented on #1236
Thanks!

[code]

[2021-11-11 22:05] st0012 commented on #1615
@bkazez thanks for reporting this, I think it's been fixed in `4.8.0`. can you give it a look?

[2021-11-13 22:55] st0012 commented on #1612
@iloveitaly thanks for digging into this issue and even provide a sample code for the solution 🙏
with the information you provided, I think the SDK should handle the shutdown instead of letting you define custom callbacks. so I added #1617 that hopefully can solve the issue. can you give it a try?

[2021-11-17 18:13] Jerph opened #1618 "Background worker send fails if ActiveRecord defined but not correctly configured"
### Issue Description

Our rails app doesn't yet use `ActiveRecord::Base` for anything, but has some code that relies on the ActiveRecord library. In dev/test we have basically the default `database.yml` file with sqlite for dev/test, but production had a misconfiguration (e.g. `database: ''`).

Since we never call ActiveRecord::Base explicitly in production it never caused exceptions. Sentry mess

[2021-11-17 19:10] st0012 commented on #1618
@Jerph thanks for reporting this. I think the SDK should log the errors happened in the background worker. I will open a PR for it shortly.

[2021-11-17 19:18] #1611 closed

[2021-11-18 15:50] lacco commented on #1603
@st0012  After turning off the performance monitoring, we were not able to reproduce this error anymore.
This is very strange, but it also means that we can just close this ticket for the time being.

Thank you for helping out, I will let you know if we see something like that again.

[2021-11-18 21:31] st0012 commented on #1603
@lacco do you know if the event that were lost are transactions (performance) or normal events?
if they were normal events, that would be really strange if it's fixed by turning off tracing.
but if they are transactions, it probably means the tracing feature records too much data in your app and became too large. for example, it recorded hundreds or event 1000+ queries.

[2021-11-18 22:43] evanleck opened #1619 "Should set_context with the same context name clobber existing values?"
It wasn't clear to me from the documentation that calling `Scope#set_context` with the same name multiple times would clobber existing values, should that be the case? By way of example, here's what I'm doing:

[code]

Right now, the only context stored in the `:request` name is the `:session_id` because that's called later in my middleware stack. Maybe it's just personal opinion, but I would have

[2021-11-19 03:13] inductor opened #1620 "Alternatives for config.tags?"
Helllo, I saw Raven is now deprecated and `config.tags` is removed in the new Ruby/Rails SDK.

I used to use `config.tags` to add an environmentally specific information to Sentry logs, such as Kubernetes namespace and workload label/name.

Now I only see context/scope level tagging in the new SDK, but is there any way to set a global scope tagging to each log?

[2021-11-19 09:50] lacco commented on #1603
@st0012 When performance monitoring was enabled, I saw those types of errors:

[code]

I guess the second one is related to exceptions, right?
It only happened for exceptions in the context of delayed jobs...

[2021-11-19 11:36] sfcgeorge commented on #1301
Moved from raven to sentry-ruby and spent ages wondering why query params aren't being sent any more. I did wonder about send_default_pii but [the docs](https://docs.sentry.io/platforms/ruby/configuration/options/) just say:

No mention of query. I'm used to POST body being considered PII as the docs say but I'm not used to GET params being considered PII so could you please make that clear in the

[2021-11-19 12:26] st0012 commented on #1619
@evanleck thanks for reporting this. I've added https://github.com/getsentry/sentry-ruby/pull/1621 as a fix.

[2021-11-19 13:21] st0012 commented on #1620
I think you can achieve this by adding `Sentry.set_tags(key: val)` right after the `Sentry.init` call:

[code]

[2021-11-19 15:42] st0012 commented on #1301
@sfcgeorge if you google "pii query string", you can find several cases that pii is leaked from the query string ([example](https://news.ycombinator.com/item?id=8920294)). so I think it's reasonable to consider it as pii sensitive. and because the SDK doesn't know if our users would put pii in their query string (they probably can't even be 100% sure either), we an only assume all query strings co

[2021-11-19 15:47] #1619 closed

[2021-11-19 16:18] rhcarvalho commented on #1301
On first look, I'd avoid the fine-grained options for now if there's no strong justification for them -- [configuration comes at a cost](https://develop.sentry.dev/sdk/philosophy/#configuration-comes-at-a-cost).

For a custom data-scrubbing strategy we already offer Before Send or Event Processors (a generic way to update events before they go out of the SDK) in the client side, and controls on th

[2021-11-19 18:44] evanleck commented on #1619
Awesome, thank you @st0012 !

[2021-11-22 15:41] #1584 closed

[2021-11-22 17:58] #1618 closed

[2021-11-22 18:09] #1612 closed

[2021-11-23 10:30] Linuus opened #1629 "Exception data is lost in active support instrumentation events"
### Issue Description

I'm having some issues using Sentry, ActiveJob and LogSubscribers.
We have an ActiveJob log subscriber which logs stuff in production. When an exception occurs in a job, we log it and the instrumentation event payload includes the Exception that was raised.
However, now that we are trying to move over to Sentry, the exception is no longer present in the instrumentation event

[2021-11-23 17:38] benoittgt commented on #1522
We were using a custom sidekiq task in an `async` block. But multiple times, we had the issue of

And it was a nightmare.

We just switched to default by removing `async` and use the `BackgroundWorker` that use `concurrent-ruby`. Work perfectly for us for the moment. I will post a message on the next spike.  😄

[2021-11-24 15:05] georgeclaghorn opened #1630 "Support the new Rails standard error reporting interface"
Rails 7.0 will add a standard interface for reporting errors to error tracking services like Sentry (rails/rails#43625).

[code]

Additionally, Rails’s internal execution wrappers have been updated to report errors via `Rails.error.report`.

The Sentry SDK can opt in to the new interface via [`Rails.error.subscribe(subscriber)`](https://github.com/rails/rails/blob/89b1cc4818e3cb08ed403441001b88535

[2021-11-26 16:58] #1615 closed

[2021-11-27 12:15] st0012 commented on #1629
@Linuus thanks for reporting the issue. although it's not originally made for this issue, but I think #1631 may fix this as well. can you give it a try? thx

[2021-11-27 17:32] st0012 commented on #1630
Yeah I'm aware of this new interface, I also participated the initial discussion. But it won't work along with the current middlewares SDK injects because it'll cause double reporting (middleware report and re-raise the issue, which'll be reported again by the reporter).

So to make this work without maintaining 2 exception capturing approaches, we need to replace the current middleware approach w

[2021-11-28 16:08] st0012 commented on #1630
After digging a big deeper, I found that the callback isn't the best place for doing that. Because the callback is not registered directly on the middleware but on a `ActiveSupport::Executor` instance, which can't access the request data.

And while `ActionDispatch::Callbacks` has access to the request, it's registered after `ActionDispatch::DebugExceptions`. This means the scope will end before t

[2021-11-30 11:43] manme opened #1632 "The number of attempts before notifications will be sent."
**Describe the idea**

I would like to have the option: `attempt_threshold` - the number of attempts before notifications will be sent.
The option: report_after_job_retries - is a boolean and does not allow to send a notifications after N retry.

**Why do you think it's beneficial to most of the users**

The user will receive a notification after the third retry because it could be solved automati

[2021-11-30 17:38] awei82 opened #1633 "Add a "request body" size option for HTTP request logging"
**Describe the idea**
Add a "request body" size configuration option for HTTP request logging, basically identical to this implementation: https://docs.sentry.io/platforms/python/guides/logging/configuration/options/#request-bodies

**Why do you think it's beneficial to most of the users**
It'll allow us to control the size of the request body being logged. We want log request bodies, but also wan

[2021-11-30 21:04] Linuus commented on #1629
I haven't been able to try it yet as we added some custom tracing instead.

However, I think that PR would indeed fix the issue 👍

[2021-11-30 21:28] st0012 commented on #1633
@awei82 I'm not sure about defining size options as there's no standard for that. what do you think about using byte length instead? for example, the current size is `4096 * 4` and you may only want `4096`, so you just use it like:

[code]

[2021-12-01 17:30] #1629 closed

[2021-12-02 11:34] sfcgeorge commented on #1301
I agree that PII can be leaked in this way and completely agree that there need to be paranoid defaults.

But I don't think it should be the only option. This is the Ruby/Rails SDK and Rails devs have a good understanding of REST, CRUD and HTTP verbs and most wouldn't put anything sensitive or non-stateless in GETs. Our company code reviews every PR, we use automated security linters, have indepen

[2021-12-03 09:44] piloos opened #1634 "`capture_message` generates exception on message including percent symbol"
### Issue Description

Using `sentry-raven` version `3.1.2`.

When manually capturing an exception and using a percent symbol (`%`) in the string an exception is triggered.

### Reproduction Steps

`Raven.capture_message("I am only 50% sure that this is an issue")`

### Expected Behavior

No exception

### Actual Behavior

Exception:

[code]

### Ruby Version

2.7.3

### SDK Version

?

### Integr

[2021-12-03 11:10] st0012 commented on #1301
Hey @sfcgeorge, we really appreciate your feedback on the topic. Here's the short version of my response:

1. Sorry about the missing documents.
    - I'll provide more info about the arguments in the callbacks such as `event` and `hint` in `before_send`.
    - I'll also add rubydoc to top-level APIs and key components like `Sentry::Event`.
2. For the query string case, I think it may be turned on

[2021-12-03 19:46] st0012 commented on #1301
@sfcgeorge here's a start for our document improvements: https://github.com/getsentry/sentry-ruby/pull/1635

[2021-12-05 15:01] st0012 opened #1636 "Document user-facing classes"
To help user write callbacks (e.g. `before_send`, `before_breadcrumb`, and `trace_sampler`) and customize tracing features, we should provide better documentation about the objects they'll deal with. Which will be:

- [x] Delegated top-level methods, e.g. `Sentry.set_user`
- [x] `Sentry::Transaction`
- [x] `Sentry::Span`
- [x] `Sentry::Client`
- [x] `Sentry::Scope`
- [x] `Sentry::Event`
    - [x]

[2021-12-05 17:58] st0012 commented on #1632
https://github.com/getsentry/sentry-ruby/issues/1570 looks pretty similar to what you propose here but with more detail. Would you say it matches your expectation?

[2021-12-05 21:55] manme commented on #1632
Thanks for your response. As I understand, #1570 does not solve my problem: I want to get a notification in Sentry from a job that has failed N times (not on a first attempt) where N < sidekiq retry. For example, I get a notification after the third attempt, and the job will stay in Retries (with a default retry value of 25). Then as a developer, I have time to fix the bug and won't receive notifi

[2021-12-08 06:03] #1583 closed

[2021-12-09 21:22] ThomasSevestre opened #1639 "Custom insertion of Sentry::Rails::CaptureExceptions middleware"
**Describe the idea**

Insertion of `Sentry::Rails::CaptureExceptions` is hardcoded after `ActionDispatch::Executor`. `ActionDispatch::Executor` is a good place to insert middlewares and rails applications may insert middlewares at the same place, in `production.rb` for instance.

This leads to this middlware order :
[code]

which might break `Sentry::Rails::CaptureExceptions` while this order wor

[2021-12-10 08:36] ThomasSevestre commented on #1639
In order to do that, I have to make sure sentry middleware is inserted before I insert my middlware, which is not the case at the moment.

The natural place to insert custom middleware is in `application.rb`, `production.rb`, etc.
The natural place to load sentry is to create an initializer.
This leads to the "wrong" order. I'm sure I can find a workaround but it would be simplier to have a config

[2021-12-12 20:47] st0012 commented on #1639
I understand the problem, but because of how things are loaded, I don't think a new config would help either:

[code]

As you can see, `sentry-rails`'s `sentry.use_rack_middleware` initializer is loaded before `Sentry.init` is even called. I'm afraid this isn't configurable from the SDK level.

[2021-12-12 23:11] #1620 closed

[2021-12-14 00:30] bjeanes opened #1643 "Serialize ActiveRecord arguments to ActiveJob instances as GlobalIDs"
**Describe the idea**

Ideally, this:

![image](https://user-images.githubusercontent.com/2560/145909824-639cb830-cb1c-47c7-8e4c-79488b977816.png)

would instead show something like:

[code]

**Why do you think it's beneficial to most of the users**

Currently it renders the `.to_s` or `.inspect` of the object which contains no useful information for diagnosing the issue.

**Possible implementatio

[2021-12-14 01:51] bjeanes commented on #1643
I am trying this (in my `ApplicationJob` class):

[code]

[2021-12-14 02:00] bjeanes commented on #1643
Another reasonable option (especially if paired with special rendering in Sentry server) could be to just use `ActiveJob::Arguments.serialize(arguments)`. It's pluggable, for one, and would by default output something like:

[code]

If Sentry web handled the `_aj_` prefix for Ruby exceptions (at least for the standard serializers) that would be pretty seamless, but even if it didn't, the above wou

[2021-12-14 06:30] AMHOL commented on #1300
I also had to add:

[code]

To stop context from leaking out of controller specs.

[2021-12-14 19:44] lacco commented on #1603
@st0012  The problem started to happen again.

I was able to log the size of the payload, it turned out that in certain cases we are sending ~2,5Mb of breadcrumbs:

[code]

Turning off breadcrumbs solved the issue.

[2021-12-15 04:53] jeyraof opened #1644 "Differece between `sample_rate` and `traces_sample_rate`"
In my understanding,

- `sample_rate` affects only `Errors`.
- `traces_sample_rate` affects to entire transactions.

Is this right?

What's the difference Event and Trace Event?

I'm reading [this](https://docs.sentry.io/platforms/ruby/configuration/sampling/)

[2021-12-15 11:36] #1644 closed

[2021-12-16 14:01] mfazekas opened #1645 "AR arguments in ActiveJob shows address not id"
### Issue Description

ActiveRecord arguments in ActiveJob aren't really usefull:

[code]

### Reproduction Steps

In a rails app invoke a job with an ActiveRecord object as one of the arguments, which reports an error to sentry. The arguments hash will contain the address of the record instead of the id

### Expected Behavior

AR records passed as arguments to jobs should be dumped with for examp

[2021-12-17 15:12] sl0thentr0py opened #1646 "Make the rake auto-capturing optional"
**Describe the idea**
Currently the rake capturing is enabled automatically. Try to make this optional.

**Why do you think it's beneficial to most of the users**
We got a support request where they wanted to turn this off.

**Possible implementation**
Not sure how to expose this best on the `init` API because we don't really tell people to use `register_integration` for the ruby SDK.

[2021-12-19 19:56] st0012 commented on #1632
@manme I see. What'll happen after the first report then? In your example, the SDK should send the event after the 4th retry failed, right?. After that, should it send events for the 5th, 6th...etc. failures?

[2021-12-19 20:04] st0012 commented on #1646
@sl0thentr0py I think it can already be turned off with `config.skip_rake_integration = true`?

[2021-12-19 20:31] st0012 commented on #1300
@AMHOL yeah I'm afraid that's needed for controller specs as the per-request scope is created via a middleware. it won't be necessary in request specs though.

[2021-12-19 20:35] renchap commented on #1632
I agree with the initial author, this would be very useful, especially for jobs depending on an external service and/or unreliable network, where it is not a problem if the job is retried for a few times.

I would expect all failures after the threshold to be sent to Sentry.

[2021-12-19 20:53] sl0thentr0py commented on #1646
@st0012 oh lol thanks, I am blind..

[2021-12-19 20:53] #1646 closed

[2021-12-19 23:27] st0012 commented on #1603
@lacco thanks for the update. I suspect it's caused by breadcrumbs of updating/loading delayed job records.
I think this config should help you filter out those breadcrumbs:

[code]

let me know if you'd give it a try? if it works, I'll bake it into `sentry-delayed_job`.

[2021-12-23 16:56] altjx opened #1648 "How exactly do I set Devise session data for authenticated users?"
I'm evaluating BugSnag and Sentry.io and, while I like Sentry.io a lot more, there are just two things that I can't quite figure out after reading the documentation:

1. How to set the user's information if they are authenticated
2. How to expand the before/after view of the error line (to get more context)

I find that Bugsnag automates the whole Devise integration thing, so this is super easy. H

[2021-12-23 19:31] altjx commented on #1648
Just solved the 2nd point after digging through the source code and finding `context_lines`. I set this to 5 and now this looks great.

[2021-12-23 19:31] #1648 closed

[2021-12-23 23:15] st0012 commented on #1648
@altjx good to see your issues are all sorted! I'm sorry that I missed the `context_lines` in the document. I've added https://github.com/getsentry/sentry-docs/pull/4536 to fix it.

[2021-12-23 23:17] altjx commented on #1648
Thanks a lot @st0012 no problem at all! Loving the product! 🙌🏽

[2021-12-23 23:20] altjx commented on #1648
@st0012 quick question - the default seemed to have been 0 for me because it only showed the single line that caused the error (nothing before or after). I noticed in the PR it mentioned 3. Is that specific to maybe a different framework other than rails? I actually had to set mine to 3 manually.

[2021-12-23 23:27] st0012 commented on #1648
hmm that's weird. here's what I just tested:

[code]

what's the SDK version you're using?

[2021-12-24 10:06] piloos commented on #1634
Bump

[2021-12-24 10:12] altjx opened #1649 "Confused by transaction name"
This may or may not be similar to #488.

Basically, I set up my initializer to ignore a transaction name based on what I see in Sentry; however, I just realized that what I'm seeing in the UI may not actually be accurate.

For example, a route in Rails that says "get /blahblah to randomcontroller#hello_world".

In the Sentry dashboard, the transaction name will show up as randomcontroller#hello_wo

[2021-12-24 11:16] st0012 commented on #1649
@altjx the issue is similar to https://github.com/getsentry/sentry-ruby/issues/1429

long story short: it's by design (or you can say it's a technical limitation atm). so you need to use request path for sampling instead of the controller#action pattern.

[2021-12-24 11:17] altjx commented on #1649
Got it. Thanks @st0012 ! 🙌🏽

[2021-12-24 11:27] st0012 commented on #1645
Thanks for reporting this. I understand that the current format isn't super helpful and that's because we serialize the entire payload with `JSON.generate`, which uses `#to_s` underneath.

To do what you proposed, we need to walk through the arguments (which can be a nested structure) and serialize different objects in different ways. This is what we want to avoid because it's easy to cause issues

[2021-12-24 11:34] st0012 commented on #1643
@bjeanes Thanks for the proposal and proposed approaches. I think this is fundamentally the same as https://github.com/getsentry/sentry-ruby/issues/1645, which also requests a different serialized result for AR objects.

And my answer would be the same too:

Wdyt?

[2021-12-24 11:39] st0012 commented on #1634
@piloos Thanks for reporting the issue. But given that `sentry-raven` SDK doesn't receive much update anymore, it'll probably take a while before we can patch this. So I'd recommend you to migrate to `sentry-ruby` if that's possible, which I don't think has the same issue.

[2021-12-25 13:44] #1649 closed

[2021-12-25 21:08] bjeanes commented on #1643
Yeah that looks like the same issue. I'd only experienced it in an ActiveJob arguments context, but indeed I think the issue is more about how AR objects are represented generally.

I think some customization definitely makes sense because there may be other similar situations and one can't anticipate them all.

That being said, I feel strongly that this particular default _should_ be changed for

[2021-12-27 20:06] geeksam opened #1657 "API methods used in the migration guide do not appear in RDoc"
### Issue Description

I wanted to update Faraday on an older application, but the `sentry-raven` dependency was preventing it.  YAK SHAVING, HERE WE COME!

### Reproduction Steps

- In the application's Gemfile, replace `sentry-raven` with `sentry-rails` and `sentry-ruby` and run `bundle`
- Get a failure message about the Gemfile.lock being locked to an older version of Faraday
- Run `bundle upda

[2021-12-28 21:39] #1633 closed

[2021-12-31 10:38] st0012 commented on #1657
@geeksam hey sorry for the missing docs. I'm adding them recently and they should go out with the `v4.9.0` release.

- https://github.com/getsentry/sentry-ruby/pull/1635
- https://github.com/getsentry/sentry-ruby/issues/1636

[2022-01-03 19:35] awei82 commented on #1633
@st0012 sorry for the slow response - having the request body option be a size is totally fine with me. Thanks!

[2022-01-04 19:16] trevorturk opened #1663 "Faraday 2.0 requires locking to ~> 1.0 or switching to faraday-net_http"
### Issue Description

Faraday 2.0 was released with major changes: https://github.com/lostisland/faraday/blob/main/UPGRADING.md#thats-great-what-should-i-change-in-my-code-immediately-after-upgrading

I'd suggest switching to `faraday-net_http` and setting `Faraday.default_adapter = :net_http` since this will remove a number of dependencies. Alternatively, it seems you could lock to ~> 1.0, or co

[2022-01-04 20:28] st0012 commented on #1663
@trevorturk Thank you for reporting the issue with a detailed analysis. It's very thoughtful.

Dropping `faraday` has been on my list for a while but I didn't expect that `faraday 2.0` would bring dependency-level breaking changes 😬. It left us no choice but to leave it as quickly as possible. So my plan to drop it with other breaking changes in v5 need to be updated now. Here's my current plan:

[2022-01-04 20:36] trevorturk commented on #1663
I think that's a reasonable plan, thank you!

I'm sorry about the `faraday` change. I totally see where they're coming from and I like the idea in theory, but I think this is going to impact a lot of gems in a similar way. I was thinking you might be able to "just" add `faraday-net_http` to your gem dependencies, but I don't think that'll work since that'll likely depend on `faraday ~> 2.0`. So, i

[2022-01-04 20:36] sl0thentr0py commented on #1663
Hey @st0012, I'd definitely be up for dropping `faraday` if we can. From seeing several issues/customer reports linked to the `faraday` dependency to having also personally dealt with similar dependency hell in a huge rails app as an end user, I think it makes a lot of sense.

Do you plan to go with plain `Net::HTTP`? I assume the complexity there is doing both the SSL and proxy cases/

[2022-01-04 20:45] trevorturk commented on #1522
I think removing `async` seems fine. I was using it to queue up a small custom ActiveJob that just called Sentry, but I'm happy to just use the built in method. I agree event spikes are fine to cap at X events since Sentry would drop them anyway and you don't want to overwhelm your system anyway. You might consider in the docs telling users that they can just remove the async line and things shoul

[2022-01-04 20:45] st0012 commented on #1663
@trevorturk Yeah the `faraday ~> 2.0` requirement really blocked that path. I'll keep you updated about the progress!

@sl0thentr0py Yes I'm going with `Net::HTTP` and I've done some preparations for the migration a while ago:
- https://github.com/getsentry/sentry-ruby/pull/1622
- https://github.com/getsentry/sentry-ruby/pull/1626

This week I'll focus on releasing `4.9.0` and I think next weekend

[2022-01-05 10:01] davidwessman opened #1666 "Regression in 4.8.2: ActiveJobs return nil even if they have a return value"
### Issue Description

When upgrading from 4.8.1 for sentry-{ruby, rails, sidekiq} to 4.8.2 all ActiveJob calls return nil.

I am not 100% sure why we have return values from these jobs and they are only used in tests.

### Reproduction Steps

[code]

[code]

### Expected Behavior

Should return the value from `perform`

### Actual Behavior

Returns `nil`

### Ruby Version

2.6.9

### SDK Version

[2022-01-05 10:43] #1666 closed

[2022-01-06 19:57] AlvinaMohsin05 commented on #492
Where to add this?

[2022-01-06 21:07] geeksam commented on #1657
Thanks so much!  (Sorry for the delay in replying; way too much email over the weekend.)

[2022-01-07 15:44] sl0thentr0py opened #1674 "Sync span operation names"
Update all relevant span operation names to match the docs here
https://develop.sentry.dev/sdk/performance/span-operations/

This is necessary for users to use some of the newer Performance dashboard features like slow db and http ops.

![image](https://user-images.githubusercontent.com/6536764/148569851-13368be3-9461-4276-b61b-5bf456bbe66e.png)

[2022-01-07 15:54] st0012 commented on #1674
Some thought on the change:
1. It should be seen as breaking change as it'll could how people filtering transactions.
2. Given that the target of `v5.0` is to get people off `faraday` as easy as possible, I think there should be no other breaking change in that release.
3. Considering the above points, I think we can give it `v6.0`? Which may be released around March or April.

[2022-01-07 16:10] sl0thentr0py commented on #1674
@st0012 Thanks, that's a good point.
This will only change span names though, so it should not break any filters which only work with transaction fields currently. It is indeed 'breaking' in a technical sense but shouldn't really affect any users as far as I can see. Given that the next release will be much later because of Faraday, we could add this in?

The filters only have `transaction.op` as

[2022-01-07 16:27] sl0thentr0py commented on #1674
anyway lemme make the PR anyway and we can decide later if and when to merge it. :)

[2022-01-07 16:33] st0012 commented on #1674
I thought since `Transaction` is a subclass of `Span` (in Ruby and in Sentry's concept), this change will also apply to transactions' `op`?

For example, the current transaction op for `Rack` integration is `rack.request` and for `Rails` it's `rails.request`. If we're changing them to `rack` and `rails`, they'll change how `traces_sampler` work.

[2022-01-07 16:44] sl0thentr0py commented on #1674
No I won't touch any of those transaction op names, this is purely about span op names. A couple of examples:

* [this `sql.active_record`](https://github.com/getsentry/sentry-ruby/blob/0019e14300913519e0d941f00511cd5fa090c6eb/sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb#L7) will become `db.sql.active_record` (it just needs the `db` prefix to be standardized)
* [this `net.http

[2022-01-07 17:18] st0012 commented on #1674
I see. Then I think it can go out in any minor release 👍

[2022-01-07 17:45] #1636 closed

[2022-01-07 19:13] #1657 closed

[2022-01-09 05:58] brandonhilkert opened #1679 "scope is nil"
New user here. I have the following config:

[code]

Just wondering if I'm missing something...tests failed in a similar way b/c `.set_user` is called early in our parent controller around authentication.

I'm using the ENV var `SENTRY_DSN` in production and assumed leaving it out of development and test would not do anything. I tried adding the DSN even in development and get the same error, so i

[2022-01-09 17:03] brandonhilkert commented on #1679
I don't know what was happening, but I think this was my bad.

[2022-01-09 17:03] #1679 closed

[2022-01-09 21:13] #1639 closed

[2022-01-10 14:46] st0012 opened #1680 "Should the SDK provide test helpers?"
Since error reporting is usually enabled in staging/production environments, users may not write tests for it. And to be honest, there isn't a clear way to test it either (probably only verifying the arguments are sent to `Sentry.capture_exception` correctly?).

As both a user and a maintainer of the SDK, I sometimes hope there are helpers to verify event payloads when developing apps. Ideally, it

[2022-01-10 15:02] st0012 commented on #1663
Updates:
- Version `4.8.3` has gone out last week with `faraday ~> 1.0`.
- Version `4.9.0` just went out as well.
- The PR to drop `faraday` is almost ready and just waits for migrations guide - https://github.com/getsentry/sentry-ruby/pull/1678

Since `v5.0` will essentially be `v4.9.0` without faraday, I'll wait a week to see if there's any issue on `v4.9.0` first before releasing it.

[2022-01-11 15:40] st0012 commented on #1680
BTW, to use the helpers, users may need to move `sentry-ruby` out of the production group and make it universal in all environments (test & production group sounds rare). I wonder if that'll cause concern or even issues for some users.

[2022-01-11 16:10] benoittgt commented on #1680
I am in favor of this proposal.

I didn't implement this. But we use this in our apps:

[code]

[code]

[2022-01-12 23:20] ojab commented on #1663
I guess this one could be closed, since `faraday-net_http` was re-added https://github.com/lostisland/faraday/pull/1366

[2022-01-12 23:23] st0012 commented on #1680
@benoittgt Thanks for the feedback! I guess there's a real need for it 😂

[2022-01-12 23:33] st0012 commented on #1663
Wow that's a great new. I'll still follow our original plan to drop it though. And I'll close this with that 🙂

[2022-01-12 23:33] trevorturk commented on #1663
This is great, thanks for the heads up @ojab!

[2022-01-13 10:14] henrahmagix opened #1683 "Sentry has RuntimeError when not enabled in current environment"
### Issue Description

When running Capybara tests, and an app request raises an exception when my system hits its `ulimit` from using `SecureRandom`, Sentry also causes the same error when capturing an app exception and wrapping it, here: https://github.com/getsentry/sentry-ruby/blob/6d312f89d09db2e5a1f2cb5169047b4bff0eb839/sentry-ruby/lib/sentry/event.rb#L48

What happens then is my test failure

[2022-01-13 10:14] henrahmagix commented on #1683
Sorry I raised the pull-request first because I've been playing around with the code locally, then I reported this issue =) See #1682

[2022-01-13 15:04] bgvo commented on #1603
I have a similar issue but in Sidekiq. The job in charge of sending the exception to Sentry (Sentry::SendEventJob) is failing. Error from executing the job:
[code]

The job failing (json string taken directly from Redis "retry" zset key):
[code]

As mentioned in the code, I think the problem comes from having breadcrumbs too long. One solution that comes to mind:
* Filter out / truncate Base64 enc

[2022-01-14 06:49] Jcambass commented on #1548
We're in a concrete situation now where being able to upload file attachments to issues would be really handy.

Our use case is that users can upload CSV files. Those sometimes are not parsable. In those situations it's crucial to have access to the uploaded CSV file (normally we don't store them) in the issue context to debug the problem.

[2022-01-14 08:40] maciejpankanin opened #1685 "sentry-rails 4.9.0 breaks channels specs"
### Issue Description

Recently bumped sentry SKD to 4.9.0 and after that none of my channel specs passes 🙁

I get this error:
[code]

Spec looks like this:
[code]

I looked into `ActionCable` source and found out there is no `env` accessor for `ActionCable::Channel::ConnectionStub` class.

[ActionCable::Connection](https://github.com/rails/rails/blob/6-1-stable/actioncable/lib/action_cable/connec

[2022-01-14 11:18] henrahmagix commented on #1683
Also just to be clear on this, my issue isn't with the SecureRandom error (that's extensively covered in https://bugs.ruby-lang.org/issues/14716 and I don't intend to ask Sentry to solve it for me).

It's just that that's my example here for an error that, when raised in the app, also occurs in Sentry when trying to wrap the exception.

Ideally, as #1682 does, Sentry doesn't do anything when it's

[2022-01-14 11:32] st0012 commented on #1685
Thanks for reporting the issue. I'm checking it and have found some other issues that should be addressed at the same time. I'll open a PR for it today.

[2022-01-14 12:55] #1685 closed

[2022-01-14 12:56] mfazekas commented on #1643
I'd agree that sentry-rails should serialise as global_id, esp active job arguments.
We're now using a workaround like this. But it should be done by sentry automatically.

[code]

[2022-01-14 12:59] mfazekas commented on #1645
I think it's rails, we know users pass AR objects to the jobs, and we know the current serialisation is not usefull for that case. IMO the default serialisation should support that. Why would anyone want to see this as ar job argument: ```[#<PackageQuote:0x00007fad7331ff60>]```

[2022-01-14 17:01] trevorturk commented on #1663
I just wanted to say that I was able to unlock and upgrade all gems including `faraday` after the `faraday-net_http` change and things are working well. I'm excited for `sentry-ruby-core` to use `Net::HTTP` instead, but things are nice and smooth now in any case. Thanks, all! (Feel free to close this issue whenever you'd like.)

[2022-01-14 17:08] #1683 closed

[2022-01-14 19:04] st0012 commented on #1645
I'm already preparing a PR for this. And since it's duplicated with #1643, I'm closing this and will move the discussion there.

[2022-01-14 19:04] #1645 closed

[2022-01-14 19:16] st0012 commented on #1643
After consideration, I think it's a good idea to convert AR objects into a more useful form. But unlike what I proposed earlier, I decided **not** to make it configurable and only support this form for now. This is because:

- Most users  don't do advance configurations. And they would simply miss helpful features unless it's enabled by default. For example, many users don't use any breadcrumb log

[2022-01-15 05:51] lacco commented on #1603
@st0012 Sorry for the late answer.
Since I am only able to reproduce the issue in the production environment, I am a little bit hesitant to try it out.
Once we re-enable breadcrumbs, we risk losing important exceptions.
I could try to set up extra alerting based on the logs, but I won't have the time in January to look into it.

I would feel much more comfortable experimenting if Sentry gem would

[2022-01-15 10:21] henrahmagix commented on #1683
Amazing, thanks so much for finding a better fix! Much appreciated ☺️

[2022-01-15 16:33] st0012 commented on #1522
@trevorturk Thanks for the feedback. The current documents on [Sentry](https://docs.sentry.io/platforms/ruby/configuration/options/) and [RDoc](https://www.rubydoc.info/gems/sentry-ruby-core/Sentry/Configuration#async-instance_method) both suggests that it's a deprecated option and points user to this issue for more info 😄

[2022-01-15 16:39] st0012 commented on #1548
@Jcambass Thanks for the feedback. That sounds a good use case for me.

@sl0thentr0py Do you think the file attachment feature is suitable for the above case? If it is, do you have any suggestion on how should we proceed this?

[2022-01-15 17:18] st0012 commented on #1603
@bgvo @lacco Thanks for your feedback. I think removing breadcrumbs altogether seem to be a solution. I vaguely remember `sentry-go` seems to do this. But ideally it should preserve as many breadcrumbs as possible, so deleting the earliest breadcrumbs until the size is acceptable seems to be better.

If we decided to take this data-trimming approach, I think another question is who (client vs serv

[2022-01-15 17:48] sl0thentr0py commented on #1548
Hey @st0012, cool coincidence. We were actually just talking about this yesterday in our Q1 planning.
We plan to roll out proper attachments support for both ruby and python this quarter, so I will likely work on adding it next month approximately.

cc @vladanpaunovic @smeubank

[2022-01-15 17:50] st0012 commented on #1548
@sl0thentr0py Wow that sounds great! I just assigned this task to you then 😄

[2022-01-15 18:08] trevorturk commented on #1522
It all worked fine when I just deleted it, thank you!

[2022-01-17 06:12] dorianmariefr opened #1691 "Doesn't execute blocks of capture() in tests: doesn't call subscribed from an action cable channel"
### Issue Description

I'm trying to reproduce a bug with my action cable channel in my tests (rspec 3) (rails 7) and couldn't get the `subscribed` method to execute

### Reproduction Steps

have a channel:

[code]

Test it:

[code]

### Expected Behavior

executes the subscribed block

### Actual Behavior

doesn't execute the subscribed block

### Ruby Version

ruby 3.1.0p0 (2021-12-25 revision f

[2022-01-17 12:30] st0012 commented on #1691
@dorianmariefr Thanks for reporting this. I've added #1692 for it.

[2022-01-17 15:31] dorianmariefr commented on #1691
thanks

[2022-01-17 15:31] #1691 closed

[2022-01-20 09:35] #1663 closed

[2022-01-20 10:49] st0012 commented on #1603
ping @sl0thentr0py

[2022-01-20 13:50] sl0thentr0py commented on #1603
hey @st0012, sorry I wanted to check this out properly before responding.
I know that the python sdk does a lot more [client side logic](https://github.com/getsentry/sentry-python/blob/ca382acac75aa4b9ee453bdd46191940f8e88637/sentry_sdk/serializer.py#L116) while serializing to ensure nice size behavior before sending it off.

We could try replicate some of that in ruby too. The server generally do

[2022-01-20 16:15] bgvo commented on #1603
Thanks @st0012 @sl0thentr0py for your replies.

I agree with @sl0thentr0py that the client needs to at least do some basic processing to make sure nothing too wild is sent over the wire.

I'm not sure how the trimming would do any harm since the process is done on a worker and besides, running some very simple regexp matching on the beginning of some attributes can make the trick.

Thanks again.

[2022-01-20 17:48] st0012 commented on #1603
We already apply size checks (actually, trimming) on message-ish attributes, like event message and breadcrumb message. The problem is that trimming non-string data based on the size is not easy. For example, the API we can use to check object size is not universally available. [ObjectSpace.memsize_of(obj)](https://rubyapi.org/3.1/o/objectspace#method-c-memsize_of) is a possible tool, but:
- It on

[2022-01-20 22:32] lewispb opened #1693 "Redis tracing"
**Describe the idea**

Similar to the existing Sentry Performance support for Active Record database tracing, we've found it useful to view the time taken to execute Redis commands.

I've created a simple custom Redis instrumenter and tracing subscriber. With this enabled, we can inspect traces including Redis commands:

<img width="1432" alt="sentry-performance-with-redis" src="https://user-image

[2022-01-21 13:56] sl0thentr0py commented on #1603
Thanks @st0012, that's a great breakdown of the problem space!

Yes, there are a lot of issues/corner cases with a 'magical' truncation solution which is why I wanted to fully grok the python serializer because it is indeed doing conditional truncation based on what type the object is (for instance, depth-based trimming of big hashes/dicts).

I pinged people internally and this has also [been disc

[2022-01-22 11:32] st0012 commented on #1693
Thanks for the proposal, I think it'd be a great feature to add!

That's not exactly correct. You can do performance tracing even without `ActiveSupport::Notifications` or Rails. It surely is not as convenient as subscribing an event though. You can use the SDK's [net-http tracing](https://github.com/getsentry/sentry-ruby/blob/9380fbc521445796f8d4a4d86ad2ef3bdbaa5719/sentry-ruby/lib/sentry/net/htt

[2022-01-22 12:00] st0012 commented on #1603
@sl0thentr0py Thanks for the information. It's great to know that the long-term goal is to do sophisticated processing on the server side.

My current plan is:
- Do a adhoc client side check that:
  - Examines the event's payload size (200kb)
  - If the event is oversized, removes all breadcrumbs and insert a placeholder crumb that explains this process.
  - Examines the event's payload size again

[2022-01-22 17:34] #1496 closed

[2022-01-23 13:46] yorch opened #1695 "Can't send transactions with SDK 5.0.0, frozen OpenSSL::SSL::SSLContext error"
### Issue Description

I have a Rails 6.1 app that I'm developing, where I have Sentry SDK integrated for a few weeks without problems. After upgrading SDK to `v5.0.0`, I've started seen `Transaction sending failed: can't modify frozen OpenSSL::SSL::SSLContext` message in the Rails logs. See below for a complete error message.

Gemfile:
[code]

Logs:
[code]

### Reproduction Steps

Upgraded SDK fr

[2022-01-23 13:48] st0012 commented on #1695
@yorch can you share your SDK configs? It’ll be helpful for debugging, thx.

[2022-01-23 16:23] st0012 commented on #1695
While I can't reproduce this issue myself, I think it should be fixed by #1696

[2022-01-23 17:32] lewispb commented on #1693
That's cool thanks @st0012. Glad you like the proposal. I didn't know about the tracing with AS::N but that sounds like a better path to me. 👍

I made a start on implementation (with a `redis_logger` breadcrumbs logger) according to your guidance here: https://github.com/getsentry/sentry-ruby/pull/1697

I'll work on it a bit more this week but of course if you'd like to leave any early feedback th

[2022-01-24 08:46] yaroslav2k opened #1698 "report_after_job_retries option is ignored if sidekiq workers's retry is not specified"
### Environment

Sentry SaaS (sentry.io)
Sentry-sidekiq 5.0
Sidekiq 6.4.0

### Steps to Reproduce

1. Setup Sentry with `sidekiq.report_after_job_retries` set to `true`
2. Create a Sidekiq worker which does **not** specify the per-worker `retry` option

### Expected Result

According to Sidekiq documentation, if the `retry` is not specified, jobs will be retried 25 times. So if a job fails 25 time

[2022-01-24 09:46] st0012 commented on #1695
@yorch I'll close this for now as `5.0.1` has been released. But please reopen it if you still see the issue 🙂

[2022-01-24 09:46] #1695 closed

[2022-01-24 21:19] yorch commented on #1695
@st0012 thanks for the prompt response and fix, working great now! much appreciated!

[2022-01-26 12:54] laurafeier opened #1699 "config.dsn does not respect port"
### Issue Description

Custom port is not respected by default transport.
I assume the problem is in the [http transport class](https://github.com/getsentry/sentry-ruby/blob/master/sentry-ruby/lib/sentry/transport/http_transport.rb#L133)
[code]
This probably need to be changed in
[code]

### Reproduction Steps

Use custom dsn with custom port.

### Expected Behavior

Connection should respect cust

[2022-01-26 14:22] oliverguenther opened #1700 "Allow users to determine when a stacktrace line is in_app or not"
**Describe the idea**

Right now, `in_app_pattern` is not user-configurable, which results in Rails projects with engines or plugins mounted by paths (e.g., from a Gemfile dependency) to not be counted as an in_app trace line. The sentry UI then collapses this trace by default with the note "Crashed in non-app: ...:"

![Screenshot from 2022-01-26 15-15-10](https://user-images.githubusercontent.com

[2022-01-26 16:30] st0012 commented on #1699
@laurafeier Yeah it's a bug and thanks for reporting it 👍

[2022-01-26 21:20] dillonwelch commented on #1522
Can you elaborate on why this is and why this wouldn't be in https://github.com/getsentry/sentry-ruby/blob/efcf170b5f6dd65c3b047825bddd8fde87fc6b7b/sentry-ruby/lib/sentry/rake.rb?

[2022-01-27 11:29] st0012 commented on #1700
@sl0thentr0py It looks like sentry-python [uses include/exclude sets for in-app matching](https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/utils.py#L679-L706). Is it a recommended approach? Or in Ruby we can take block instead?

[2022-01-27 11:36] st0012 commented on #1522
@dillonwelch sorry that I forgot to update the description. that issue has been addressed in https://github.com/getsentry/sentry-ruby/pull/1617 and don't exist anymore 🙂

[2022-01-27 12:06] #1699 closed

[2022-01-27 13:08] sl0thentr0py commented on #1700
block is fine, the more ruby way

[2022-01-27 13:59] oliverguenther commented on #1700
Thanks for your quick responses. If this is something you deem a worthy addition to sentry-ruby, I'll gladly submit a PR for it in the coming days.

[2022-01-29 09:34] #1698 closed

[2022-01-30 11:42] st0012 commented on #1630
I finally got time to work on this and it looks like the `ErrorReporter` isn't automatically plugged in into things like the interceptor at the moment so there's no double reporting concern. This means that supporting this will be straight-forward and should be included in the next minor release 🙂

[2022-01-31 12:14] Bertg commented on #1699
@st0012 Any idea on when this fix will be released?

[2022-01-31 12:24] st0012 commented on #1699
It should go out later today 🙂

[2022-02-01 10:06] #1643 closed

[2022-02-01 10:19] #1630 closed

[2022-02-01 10:25] #1674 closed

[2022-02-01 16:39] st0012 opened #1706 "Don't cause `NoMethodError` when calling `Sentry.*` with an uninitialized SDK"
It should be either no-op or raising an exception, as the SDK should always be initialized (this is a requirement across all Sentry SDKs).

I prefer raising exceptions for such condition and have proposed it in a recent discord discussion as well. But we also have methods like `Sentry.capture_*` that current does nothing instead of raising an exception. So my concerns are:

- If I make methods lik

[2022-02-01 16:44] st0012 opened #1707 "Reorganize `sentry-rails`' test apps"
`sentry-rails` supports a wide range of Rails versions (from 5.0 to 7.0). This means that it's test setup is complex and [full of compatibility workarounds](https://github.com/getsentry/sentry-ruby/blob/master/sentry-rails/spec/support/test_rails_app/app.rb#L155-L197). We should start thinking a more maintainable way to build test apps (perhaps  one app file for each Rails version).

[2022-02-01 17:23] romankovt opened #1709 "Sentry sends transaction traces despite having them disabled in the config"
### Issue Description

Hello!

We completely disabled traces but still see that sentry tries sending transaction samples. We see transactions being sent as in our logs as in the Sentry dashboard.

Here is what we see in our logs:
[code]

Here is a screenshot from our dashboard:

<img width="1204" alt="Screen Shot 2022-02-01 at 19 12 57" src="https://user-images.githubusercontent.com/6728845/152018

[2022-02-01 19:49] rromanchuk opened #1710 "Looking for best practice advice on removing a smelly pattern"
I noticed an annoying habit that whenever using `Sentry.capture_exception` or `Sentry.capture_message` that i'm adding additional lines to be confident i get the exception/message to STDOUT or logger.  For example...

[code]

This is partly an artifact of setting `config.dsn = nil` in development, but there are times in a production context I want this as well. My logging in production is 100% str

[2022-02-02 01:58] #1710 closed

[2022-02-02 14:39] sl0thentr0py opened #1711 "Session tracking/release health"
Implement session tracking for the ruby SDK.

* spawn new thread, flush session stats every 60s
* add session abstraction, add as envelope items
* collect aggregate session stats in rack middleware

References
* https://develop.sentry.dev/sdk/sessions/
* https://docs.sentry.io/product/releases/health/

[2022-02-03 10:43] sl0thentr0py commented on #1706
@st0012 so python no-ops on `capture_*` stuff without an init. `set_tag` still works since the hub has a scope attached (but no client). I think we prefer no-ops because the first priority is to _never_ break user apps due to whatever reason. If they make an init mistake and don't see events, that can be resolved subsequently but at least it doesn't break their production unexpectedly by throwing

[2022-02-04 17:48] choxi commented on #1586
@st0012 it's working, thank you!

[2022-02-04 17:50] choxi commented on #1586
One related question: if our frontend is sending `sentry-trace` headers, will the backend always capture those even if it goes over the sample rate? Is there a way to make sure we always capture the full trace when the sample rate is < 1?

[2022-02-05 01:15] rmsy opened #1712 "Logs are misleading when transaction is sampled due to parent being sampled"
### Issue Description

Hello 👋

If a transaction has a parent which is sampled, the tracing debug logs are slightly misleading. Due to the precedence of the conditionals below, the `sample_rate` may be `false` or `0.0` if a sampler proc is defined and returns one of them:
https://github.com/getsentry/sentry-ruby/blob/8538717cfcaf2f1a1f71817eb06a4f85de91205d/sentry-ruby/lib/sentry/transaction.rb#L1

[2022-02-05 09:55] st0012 commented on #1706
@sl0thentr0py In `sentry-ruby`, there will be no hub and no scopes if the SDK is not initialized. So methods like `set_tags` won't work. How does `sentry-python` create hub and scopes when it's not initialized? Is it done upon import?

Anyway, I'm fine with the no-op approach since it aligns with other SDKs. Will open a PR shortly.

[2022-02-05 19:39] st0012 commented on #1712
After digging into this a bit, I think this there's a conflict between 2 tracing requirements or my understanding on them.

1. We should prioritize `traces_sampler`'s decision over inherited decision. This follows [sentry-python's implementation](https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/tracing.py#L654-L656).
2. Always send the transaction if its parent is sampled, which i

[2022-02-07 11:48] sl0thentr0py commented on #1712
@st0012, the official precedence order requirement is written down [here](https://develop.sentry.dev/sdk/performance/#sampling), so I believe yes, 1. is correct - `traces_sampler` takes priority.

[2022-02-07 11:59] st0012 commented on #1712
@sl0thentr0py sorry that I wasn't clear about what "the above" meant. I meant that my 2nd point was incorrect and the condition should be changed.

[2022-02-07 12:10] sl0thentr0py commented on #1712
yes, 2. is incorrect and the condition should be changed.. The transaction should be sent based on the sampling decision in 1. where `traces_sampler` takes priority over the parent.

[2022-02-07 19:37] st0012 commented on #1712
@sl0thentr0py thanks for the confirmation!

@rmsy in this case, the logging logic is fine. it's the transaction should not be sent, which I'll fix shortly.

if you want to keep the current behavior (send unsampled transaction based on its parent's decision), you need prioritize the inherited sampling decision in your `traces_sampler`:

[code]

[2022-02-07 21:57] #1706 closed

[2022-02-08 15:53] rmsy commented on #1709
We were recently confounded by this as well. In our case, despite setting the `traces_sample_rate` to `0.0`, we were still seeing a lot of transactions being recorded. It turns out that we had a lot of users calling our application with a value in the `Sentry-Trace` header, which was being picked up by the Ruby SDK as a parent transaction, and causing the backend transaction to be sampled. I'm thi

[2022-02-08 16:08] rmsy opened #1714 "Authorization header is not being filtered in events from inbound requests"
### Issue Description

Hi 👋

In [this documentation](https://develop.sentry.dev/sdk/data-handling/), it's stated that with `sendDefaultPii` false, the following happens:

I noticed that the `Authorization` header is sent as part of the request context for error and APM events, even with `sendDefaultPii` set to false. (The `Cookie` header is not, however).

### Reproduction Steps

1. Create a new R

[2022-02-09 15:09] Sam-Killgallon commented on #1632
:+1: I was just looking for this exact feature as well with the same use case.

We integrate with a third party and a small percentage of requests fail and then succeed on the second retry due to things outside our control. I'd ideally like to be able to set a threshold on the `job` level, so that each job could be configured separately.

[2022-02-10 11:19] romankovt commented on #1709
@rmsy, thank you
We've removed `traces_sampler,` and `traces_sample_rate` from the config, and all errors disappeared. It's hard to say whether clients send requests with the `Sentry-Trace` header because we don't log request headers. All our API clients are ios and Android apps and they use Sentry SDK. Sentry SDK might somehow auto inject this header when clients send requests to the backend, but

[2022-02-10 11:19] #1709 closed

[2022-02-10 15:33] st0012 commented on #1714
@rmsy don't feel sorry 😅 it's my fault to let you step on 2 bugs in a week! I'm sorry about that and I really appreciate you reported the issues with details. I've added a PR to fix this 🙂

[2022-02-10 16:12] st0012 opened #1718 "Record redis command arguments in breadcrumbs and tracing spans."
**Describe the idea**

Record redis command arguments in breadcrumbs and tracing spans.
The value should only be recorded if `send_default_pii == true`

**Why do you think it's beneficial to most of the users**

It provides more information to help users debug.

[2022-02-10 17:00] st0012 commented on #1693
Closed via #1697

[2022-02-10 17:00] #1693 closed

[2022-02-11 02:38] arianf opened #1720 "Bring back extra_context from Raven"
**Describe the idea**

I'm not sure why extra_context was removed with the move from Raven to Sentry, but it was very useful.

The following issue comment points out the alternative, which is not great. https://github.com/getsentry/sentry-ruby/issues/918#issuecomment-681936998

Because you can't add non tag information, and you can't add arbitrary debug information.

**Why do you think it's benefi

[2022-02-11 03:10] arianf commented on #1720
Reading https://docs.sentry.io/platforms/ruby/guides/rack/enriching-events/context/#additional-data is pretty confusing:

Which is pretty confusing.. First sentence says "Sentry supports it", then it says "It's deprecated", then we are back to "avoid it when possible". So which is it?

If it's deprecated, does that mean it won't be supported in future updates? Or should it should be avoided when p

[2022-02-11 03:16] arianf commented on #1720
Also Raven.extra_context would give you a has back so you could easily see what was in there... I don't see any documentation for getting previously set event context.

[code]

[2022-02-11 11:31] st0012 commented on #1707
Closed via #1719

[2022-02-11 11:31] #1707 closed

[2022-02-11 15:22] sl0thentr0py commented on #1720
@arianf it seems you answered your own question here

We're not going to bring back `extra_context`. If you want to access user/tags later, you can do so in [`before_send`](https://docs.sentry.io/platforms/ruby/configuration/filtering/#using-platformidentifier-namebefore-send-) from the `event` object.

[2022-02-11 15:22] #1720 closed

[2022-02-11 16:37] thomasjachmann opened #1722 "set_context doesn't allow to overwrite values"
### Issue Description

When calling `set_context` multiple times with the same context key and the same keys within the value, the value hashes will be merged into one another. But if the same keys are used within these hashes, the new values won't overwrite the old ones.

Example:
When iterating over objects and doing possibly problematic things, I'd like to recognize which object caused the erro

[2022-02-11 19:24] jordan-brough commented on #1522
For instrumenting AWS Lambda, it seems like it'd be ideal to use [Lambda Extensions](https://aws.amazon.com/pt/blogs/aws/getting-started-with-using-your-favorite-operational-tools-on-aws-lambda-extensions-are-now-generally-available/) to deliver error reports.  At first glance it looks like the `async` option would be hte way to integrate with Lambda Extensions.  Do any of the Sentry libraries for

[2022-02-11 21:24] #1722 closed

[2022-02-12 15:40] st0012 commented on #1522
@jordan-brough  I'm not familiar with AWS Lambda but it looks like the Sentry's Lambda Extension doesn't need language SDKs to work? It looks directly integrated with AWS Lambda.
Can you explain your use case with more detail?

[2022-02-14 11:54] sl0thentr0py commented on #1522
@jordan-brough currently, AWS lambda on ruby is not a first-class feature like for python/node where we have separate packages/integrations/layers implemented. AWS extensions are also something we are looking into right now for both those ecosystems. Ruby is not on the road map per se, but we would be open to seeing if that's something the community wants. I'm making a new issue to gauge interest

[2022-02-14 11:54] sl0thentr0py opened #1728 "AWS lambda support"
For instrumenting AWS Lambda, it seems like it'd be ideal to use [Lambda Extensions](https://aws.amazon.com/pt/blogs/aws/getting-started-with-using-your-favorite-operational-tools-on-aws-lambda-extensions-are-now-generally-available/) to deliver error reports.  At first glance it looks like the `async` option would be the way to integrate with Lambda Extensions.  Do any of the Sentry libraries for

[2022-02-14 14:36] jordan-brough commented on #1728
Would you accept a PR adding Lambda support to `sentry-ruby`?

I have some good experience with Lambda and we're using Sentry+Ruby right now.
I just finished adding basic support, including copying some of Sentry's work on e.g. https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/integrations/aws_lambda.py.

[2022-02-14 14:46] sl0thentr0py commented on #1728
@jordan-brough PRs are always welcome!

[2022-02-14 14:58] jordan-brough commented on #1522
@st0012 how Lambda works is AWS spins up an instance of some code you've written and invokes "handler" method with an "event" payload (e.g. a web request).  And then:

https://docs.aws.amazon.com/lambda/latest/dg/runtimes-context.html

So you have some code that runs and then gets "frozen" and then _maybe_ gets "unfrozen" again in the future to handle future events (e.g. web requests).  But if you

[2022-02-14 16:11] st0012 commented on #1728
@jordan-brough thanks for the offering. but can we make it under the `sentry-lambda` folder? I feel that it should be a standalone gem like `sentry-rails`.
@sl0thentr0py wdyt?

[2022-02-14 16:13] sl0thentr0py commented on #1728
yes, thought the same.

[2022-02-14 16:14] sl0thentr0py commented on #1728
Also for consistency, please call it `sentry-serverless` if you do make it.

[2022-02-14 16:37] jordan-brough commented on #1728
👍 Sounds great, I'll do that.

[2022-02-14 17:58] jordan-brough commented on #1728
@sl0thentr0py this is completely up to y'all, but "serverless" is a pretty broad term within AWS, e.g. see everything they list here:
https://aws.amazon.com/serverless/#Serverless_services_on_AWS
and this code will only apply to the Lambda part of serverless.

Also, serverless is used beyond AWS, e.g. Azure: https://azure.microsoft.com/en-us/solutions/serverless/
and this code would be specific to

[2022-02-14 18:01] sl0thentr0py commented on #1728
@jordan-brough you're not wrong but I was mainly thinking about consistency with our [npm package](https://www.npmjs.com/package/@sentry/serverless) naming. If we do get this ball rolling, we would also look at GCP/azure in the distant future.

[2022-02-14 18:04] jordan-brough commented on #1728
Yah that makes sense. I was wondering if you might want to chat w/ whoever maintains the node/python libraries about considering a rename on their end also. "Lambda" seems like the overall better name to me in this case.  But I'll plan on `sentry-serverless` unless I hear otherwise.

[2022-02-14 18:07] sl0thentr0py commented on #1728
I doubt we'll rename those libs at this point since they've been around for much longer, sry!

[2022-02-15 17:47] lostie opened #1731 "Duplicate reporting for Sidekiq errors"
### Issue Description

After the update to version `5.1.0` I started to get `Sidekiq::JobRetry::Skip` errors in Sentry. After close examination, I found that for each of these errors I also had their cause reported as a separate error in Sentry.

It seems the Sidekiq error handler:
https://github.com/getsentry/sentry-ruby/blob/623d0464ce8120cd2ae3bfdb12113a265ad09d44/sentry-sidekiq/lib/sentry-side

[2022-02-16 16:03] sl0thentr0py opened #1732 "Add request info to `custom_sampling_context` in rack middleware"
From a customer issue

We should add the request to the sampling context to provide more flexibility for configuring sampling.

[2022-02-16 19:49] sl0thentr0py opened #1733 "Feedback wanted - Add `at_exit` hook for auto exception capturing in scripts"
Currently, automatic capturing only works in rake/rails applications.
We want to see if users also want out of the box exception capturing in one-time scripts and other ruby applications.

Raven had this [here](https://github.com/getsentry/sentry-ruby/blob/ee5eadc34187521259044ce548107a7e48711b0d/sentry-raven/lib/raven/instance.rb#L235-L243) and python has [`AtExitIntegration`](https://github.com/

[2022-02-16 21:19] st0012 commented on #1733
I think we'll also need to add a new config to opt-out this feature. Another thing would be to watch out duplicated reporting with other integrations.

[2022-02-17 21:42] benhutton commented on #1632
yes! I was about to submit a request for the exact same feature. I want the first one or two or N retries to NOT send anything to sentry, because that means that the error is a network error and is recovered quickly. I want all of the rest of the errors sent.

[2022-02-18 09:14] antonpirker opened #1735 "Improve README.md and CONTRIBUTING.md"
For better experience for new contributors we should improve our "how to get started" documentation inside the repository. (Basically the files `README.md` and `CONTRIBUTING.md`.)

Cool would be that a new developer can find all the information she needs on how to set up her local environment, run tests and start to contribute.

It has been done already for [sentry-python](https://github.com/getse

[2022-02-18 14:52] sl0thentr0py commented on #1731
@st0012 thx I think I get it now.
What about moving [this check](https://github.com/getsentry/sentry-ruby/blob/27c3a358569f389d039f4685171ea8caf001a8b4/sentry-rails/lib/sentry/rails/error_subscriber.rb#L15) to [`capture_exception`](https://github.com/getsentry/sentry-ruby/blob/27c3a358569f389d039f4685171ea8caf001a8b4/sentry-ruby/lib/sentry/hub.rb#L96-L97) in general, so the double reporting soluti

[2022-02-18 18:23] mikescar commented on #1427
Tracking, upgrading from an older version broke scout for us, wasn't immediately apparent.

[2022-02-20 19:36] lewispb opened #1739 "Active Storage transactions are incorrectly named"
### Issue Description

I'd expect Active Storage transactions / spans to be named with the Controller#action format that other Rails requests use.

### Reproduction Steps

App I created to reproduce: https://github.com/lewispb/sentry-as-issue-repro

Or:

1. rails new appname
1. rails active_storage:install
1. rails g scaffold post title:string cover:attachment
1. Install Sentry Rails with tracing

[2022-02-20 22:11] skunkworker opened #1740 "Best way to stop tracing on a rack-attack blocked/throttled request?"
Right now I am getting traces of requests that rack-attack is picking up and throttling/blocking. Currently my traces sampler is set to be true, but I was wondering if there was a best way in order to stop tracing once rack-attack has not safelisted a request?

[2022-02-20 22:41] lewispb commented on #1740
Are you using a sampling function already @skunkworker?

https://docs.sentry.io/platforms/ruby/configuration/sampling/#setting-a-sampling-function

Perhaps you can inspect the value of `sampling_context[:transaction_context]` and return false or 0 for requests you don't want to track.

[2022-02-20 22:45] lewispb opened #1741 "Possible to disable Sentry Ruby logging?"
I've noticed logging around tracing decisions in our Rails apps. Can this currently be disabled, or the log level for Sentry SDK logs controlled?

[2022-02-21 13:01] sl0thentr0py opened #1743 "Add `mechanism` to the exception interfaces"
Add the ability to pass [`mechanism`](https://develop.sentry.dev/sdk/event-payloads/exception/#exception-mechanism) to `capture_exception`. Among other things, this will let us use the `handled` flag to set the session status to `crashed`/`errored` based on whether it was handled or not in #1715.

[2022-02-21 15:50] ixti commented on #1183
With the above config changes the errors disappeared

[2022-02-22 17:16] st0012 commented on #1741
You can assign a another logger to the SDK like:

[code]

You can also assign the logger with the same destination (`$stdout`) but with a different log level.

[2022-02-22 17:39] st0012 commented on #1740
@skunkworker can you list the middlewares you use? I think the best solution would be to place it **outside** of the SDK's middleware, so those requests won't even start any transactions.

[2022-02-23 12:51] saikumar-everest opened #1744 "How to set additional data(which is unique for every exception) for Sentry event?"
Hi Sentry-ruby team,

### Brief
We are using "sentry-raven" in our rails application and I'm trying to migrate to "sentry-ruby". In that process, I got an issue with my application architecture to record sentry events with some meta data. I can explain the issue and I would request your suggestions to achieve the intended behaviour without changing much application code.

### Context about my issu

[2022-02-23 18:42] st0012 commented on #1739
Wow this issue is way more complicated to debug than I thought.

Some context:

1. The SDK first sets the scope's transaction name in `Sentry::Rack::CaptureExceptions` with request route.
2. If the request enters a controller action, [this callback](https://github.com/getsentry/sentry-ruby/blob/master/sentry-rails/lib/sentry/rails/controller_transaction.rb) sets it with a nicer format.

And since

[2022-02-24 04:48] magni- commented on #747
@st0012 where is this feature documented?

[2022-02-24 09:08] sdogruyol opened #1745 "exception happened in background worker: ActiveRecord::ConnectionNotEstablished"
### Issue Description

This started to happen after we upgraded our application from Rails 6.1 to Rails 7.0.2.2.

Sentry SDK just crashes in the middle of the request with an unrelated stacktrace and the following error

[code]

The weird part is that our application uses *Sequel* and not ActiveRecord.

### Reproduction Steps

Not available

### Expected Behavior

Should not crash the request

###

[2022-02-24 11:08] lewispb commented on #1739
Great investigation @st0012! Thank you!

Agreed.

[2022-02-24 11:08] #1739 closed

[2022-02-24 21:08] st0012 commented on #747
@magni- this has never been implemented so there's no documentation for it. if you think it's still relevant, feel free to open a new issue and propose it with more detail :-)

[2022-02-24 21:14] st0012 commented on #1744
You can use `before_send` callback for this:

[code]

[2022-02-25 06:44] saikumar-everest commented on #1744
@st0012 Thank you so much. It's working as expected.

[2022-02-25 09:29] #1744 closed

[2022-02-25 12:49] st0012 commented on #1745
@sdogruyol Thanks for reporting the issue.

The root cause is that we have [this code](https://github.com/getsentry/sentry-ruby/blob/master/sentry-rails/lib/sentry/rails/background_worker.rb) in the SDK's background worker to make sure we release `ActiveRecord`'s connection if it acquired one. The code was written assuming the client would use `ActiveRecord`, which is not the case for you (and per

[2022-02-26 16:28] baelter opened #1748 "Handled Sinatra exceptions still captured"
Exceptions handled by Sinatra error blocks. eg.
[code]

are still captured by the Sentry Rack middleware.

I think there should at least be a way to disable this.

Looking at the code I think we need to add something to Sinatra so the Sentry middleware can determine if the error is handled or not. As of now `env['sintra.error']` is still set for handled errors. Still opening an issue here first to

[2022-02-26 16:38] baelter commented on #1748
Perhaps the middleware should be configurable on which http status codes to capture Sinatra exceptions on?

[2022-02-28 09:17] sdogruyol commented on #1745
Hey @st0012 thanks a lot for the response.

I just tried your branch and it doesn't seem to fix the problem. Still getting the same `exception happened in background worker: ActiveRecord::ConnectionNotEstablished` exception.

[2022-02-28 12:32] jasonrudolph commented on #1731
I've upgraded to `5.1.1` (which includes the fixes in https://github.com/getsentry/sentry-ruby/pull/1738), but I'm still experiencing this issue.

@lostie: If you've upgraded to `5.1.1`, did that resolve this problem for you, or are you still seeing it as well?

[2022-03-01 08:56] micke commented on #1731
We are also still seing these after upgrading to 5.1.1

[2022-03-01 15:27] oliverguenther commented on #1700
As so often, the expression `in the coming days` was a huge understatement, but this is still on my todo list and I will get back to it if it is not something you moved to the roadmap yourselves. I was starting to think about a migration from the current path based configuration and whether we would allow both, or deprecate the old one. Thoughts?

[2022-03-01 17:17] st0012 commented on #1745
@sdogruyol can you set `config.debug = true` in your initializer and provide me the error output? (which should include backtrace)

[2022-03-02 14:23] smdern opened #1752 "Uninitialized constant Set. Set isn't loaded."
### Issue Description

Using `capture_exception` raises the error sentry-ruby-core-5.1.1/lib/sentry/interfaces/exception.rb:1:in `build': uninitialized constant Sentry::ExceptionInterface::Set (NameError)

This looks to be because `Set` isn't loaded.

I think the loader file should `require "set"`

### Reproduction Steps

Basic ruby project, initialize Sentry and then `Sentry.capture_exception(err

[2022-03-03 13:46] h0jeZvgoxFepBQ2C commented on #1620
Somehow this is only working in web server processes, but not in our Sidekiq workers?
Anybody knows why and if there is an alternative?

[2022-03-03 22:43] #1752 closed

[2022-03-03 23:09] #1732 closed, assigned to sl0thentr0py

[2022-03-04 13:40] Flixt opened #1754 "(Active-)Job errors not send (sentry-resque)"
### Issue Description

Errors that happen within Jobs are not sent to Sentry when using `sentry-rails` and `sentry-resque`

The problem was encountered after upgrading our app to Rails 7 and Ruby 3.0.2

We upgraded:

`sentry-ruby` from `'~> 4.6.5'`, to `'~> 5.1.1'`
`sentry-rails` from `'~> 4.6.5'`, to `'~> 5.1.1'`

And we switched from our own fork of `resque-sentry` to `sentry-resque', '~> 5.1.1'

[2022-03-04 14:08] Flixt commented on #1754
When I change the `Sentry::Rails::ErrorSubscriber` like this in `config/initializers/sentry.rb`

[code]

Everything works fine, as the sentry-resque integration gets to handle an uncaptured error and reports it to Sentry.

[2022-03-04 17:43] #1718 closed

[2022-03-05 16:00] st0012 commented on #1700
@oliverguenther I just checked available configurations again and it seems like `config.app_dirs_pattern` (which's default is `/(bin|exe|app|config|lib|test)/`) can be used to solve that case? Perhaps something like this?

[code]

[2022-03-06 13:22] st0012 commented on #1731
@jasonrudolph @micke thanks for reporting. I've done a bit more investigation and reported it in https://github.com/rails/rails/pull/43625#discussion_r820229657.

[2022-03-07 07:43] oliverguenther commented on #1700
Ideally, I would have wanted to check whether the gem is in a special bundler group that we load plugins from, so that we don't have to enforce folder names for that check. But right now, all plugins follow that convention so it will work. I'll close this for now and wait for more feedback.

[2022-03-07 07:43] #1700 closed

[2022-03-07 15:20] #1711 closed

[2022-03-08 02:16] ragesoss commented on #1603
My experience with this problem is as follows:

* Using Sentry with Sidekiq
* An error with a too-large payload happens. (The bulk of the payload is stack frames in `threads`, from what I can tell by inspecting the Sidekiq RetrySet job.)
* Now Sentry wants to to send a new exception, with all the details from the original wrapped into `contexts`, so this one has an even larger payload.
* Upon each

[2022-03-11 04:35] rgalanakis opened #1756 "Confusing error if sentry-sidekiq is imported after Sentry.init"
### Issue Description

If `sentry-sidekiq` is required AFTER `Sentry.init` has been run, an exception is raised in `ErrorHandler`, as below (the `Sentry.configuration.sidekiq` field is nil).
This is because `configuration.sidekiq` is set in a 'post initialization callback', but once `Sentry.init` is run, the callbacks won't be run.

This is a really tough one to find and diagnose because it is an

[2022-03-11 15:03] ajparise commented on #1745
I am experiencing this issue after upgrading sentry-rails from 4.2.2 to 5.1.0.
The app is running Rails 5.2.6.2, it uses Mongoid and AR, but it does not have a persistent or default AR connection setup.

As a workaround I've resorted to synchronous event sending.

[code]

[2022-03-11 17:16] hogelog opened #1757 "Cannot remove breadcrumbs from huge envelope when config.async"
### Issue Description

sentry-ruby 5.2.0 introduce envelope size check logic.
https://github.com/getsentry/sentry-ruby/pull/1747

This logic check envelope size, and remove breadcrumbs if payload is too huge.
https://github.com/getsentry/sentry-ruby/blob/5.2.0/sentry-ruby/lib/sentry/transport.rb#L75-L78

But this breadcrumbs remove process does not work with `config.async` option.
`item.payload` h

[2022-03-12 15:21] st0012 commented on #1757
@hogelog thanks for reporting this, I've attached a PR for it.
and using `config.async` is actually not recommended. I've detailed the reasons in https://github.com/getsentry/sentry-ruby/issues/1522 and please let me know your opinion on it 🙂

[2022-03-12 16:08] st0012 commented on #1756
@rgalanakis thanks for reporting this. I think the SDK should let user aware of any require-after-init situation. but I'm not sure if raising an exception fits Sentry's SDK guideline of not breaking user applications. I think logging a warning message should be enough.
@sl0thentr0py wdyt?

[2022-03-12 16:19] sl0thentr0py commented on #1756
hmm, but is there a valid reason why one should need to require after init? As long as the docs clearly say require first and init, I don't see that much value in adding all these weird branches. But if you do want to add a check, a logger warning sounds good.

[2022-03-12 16:24] st0012 commented on #1756
I think the point here is to allow require-after-init. it's about which approach we should use to notify users if that happens. I just want to confirm that raising error in this case is still considered inappropriate?

[2022-03-12 16:48] rgalanakis commented on #1756
I want to point out that require-after-init currently leads to exceptions during error handling. So if it's just a log warning, then I would suggest:

- A warning should be logged when require-after-init, because otherwise you don't find out about the misconfiguration until you start seeing issues in the error handler.
- The error handler handle require-after-init, log a warning, and use the defau

[2022-03-13 06:40] hogelog commented on #1757
Thanks for the quick response!

I'm developing rails app that uses `config.async` with Sidekiq, but I will disable this config and use background worker or send synchronously.

It is very clear that the `config.async` feature incurs extra costs for sentry-ruby maintenance (just like this bug). I agree with removing this feature.

I will detailed comment to `config.async` on https://github.com/gets

[2022-03-13 06:58] hogelog commented on #1522
I agree dropping the async option.

I'm developing rails app that uses config.async with Sidekiq, but I will disable this config and use background worker or send synchronously.

I was originally aware of this issue and was considering disabling `config.async`. However, before disabling it, an error spike caused sidekiq redis down.

I plan to disable `config.async` and use background worker.
I am

[2022-03-14 09:34] sl0thentr0py commented on #1522
@hogelog this is on the product road map, but I can't give you an ETA on when it will be shipped yet. But we certainly want to expose these statistics to the user eventually.

[2022-03-14 10:20] st0012 commented on #1756
The warning will happen when any integration is required after the SDK initialization. But I'm not sure if we should do more than it. I mean, it's not normal to have `sentry-ruby` required, SDK initialized, and then have `sentry-sidekiq` required. If you require them using `Bundler.require`, they should be all required at the same time.

So I'm not sure if we should invest more on this unexpected

[2022-03-14 10:29] #1757 closed

[2022-03-14 10:42] #1756 closed

[2022-03-14 11:07] st0012 commented on #1754
@Flixt I'm sorry for the trouble. And thanks for the amazingly detailed report.

I think there are 2 major causes of it:

1. The double capturing after introducing `ErrorSubscriber` for Rails 7.0.
2. `ErrorSubscriber` should still send the event through the SDK background worker, even without `background: false` hint.

There's an on going issue (#1731) for 1), which makes me think if we should hav

[2022-03-14 12:16] st0012 commented on #1754
@Flixt Ok, I think 2) is a Resque issue. Currently, its workers exit with `exit!`, which skips all `at_exit` callbacks. This has caused many issues and the latest report is https://github.com/resque/resque/issues/1664.

I'm not sure if the SDK can do anything about it without potentially mess things up further. But if you set `RUN_AT_EXIT_HOOKS=1`, you should be able to get rid of the workaround.

[2022-03-14 15:51] st0012 opened #1761 "Check if the SDK is Rack 3 compatible"
[Rack 3](https://github.com/rack/rack/blob/main/CHANGELOG.md#300---unreleased) is on its way and will include multiple breaking changes. We should check if the SDK & its tests need any change for it.

[2022-03-15 02:30] hogelog commented on #1522
I'm looking forward to it!

I’m not using tracing, so I was not aware. Considering the future, it may not be good to send events directly. thanks!

[2022-03-15 15:41] Flixt commented on #1754
@st0012 thank you for your feedback.

1) I compared the two errors (one captured by the ErrorSubscriber and one captured by the resque integration) and could barely see a difference in the contextual data (although the errors were the made up errors from the example application).

2) Good catch, thank you. Starting resque with `RUN_AT_EXIT_HOOKS=1` leads to both errors being reported and
the behav

[2022-03-16 00:10] #1634 closed

[2022-03-17 22:29] st0012 commented on #1731
After [consulting Sidekiq's author Mike](https://github.com/rails/rails/pull/43625#issuecomment-1071574110), I think ignoring `Sidekiq::JobRetry::Skip` can be an adhoc but effective solution to this problem. So I added #1763 for it.

[2022-03-18 10:30] jdelStrother opened #1765 "Dealing with thousands of errors (Or, event_from_exception is slow. Or, Rails 7's error_reporter is awkward)"
We recently had a cache server go down, which caused our servers to become overwhelmed and start dropping requests like crazy. This seemed unusual: previously we've been fine with a cache server disappearing - we might get a handful of errors, but Rails' cache normally behaves fairly sensibly, just behaving like a cache-miss & silently failing on writes.

I think the new problem lies in a mix of R

[2022-03-18 14:29] st0012 commented on #1765
Thanks for reporting this, but I have a few questions before I can provide suggestions:

1. From the chart, it looks like `Client#event_from_exception` takes 4.5 secs? Are you able to create this slowness locally? Or do you think it's a result of resource contention on production?
    - I think one possible scenario is that one exception has deeply-nested causes (prob 20+ in total). That may make

[2022-03-18 14:31] sl0thentr0py commented on #1765
@jdelStrother thx for the great issue!

There are several things going on here.
1. A cache failure getting reported as an 'error' somewhat breaks our 'error' semantic assumptions which are only generally  exceptions. This is more an implicit understanding of what an 'error' is which is of course open to some debate.
2. There is a general scale assumption issue. If we have some error which happens

[2022-03-18 15:21] st0012 commented on #1731
FYI, I'll change the error reporter integration in `5.3.0`. More details: https://github.com/rails/rails/pull/43625#issuecomment-1072514175

[2022-03-18 15:22] st0012 commented on #1754
FYI, I'll change the error reporter integration in `5.3.0`. More details: https://github.com/rails/rails/pull/43625#issuecomment-1072514175

[2022-03-18 15:36] jdelStrother commented on #1765
Yeah, sorry - this was an artificial benchmark wrapped in `1000.times{}`, partly because I was trying to measure the time taken once the BackgroundWorker queue was full.  Actual time is about 4 - 5ms.
(Which isn't _very_ slow, but gets bad if you're calling Rails.cache.read multiple times in a request and every single one hits the error reporter)

Looks like I only have a single `cause` - the exce

[2022-03-18 17:40] st0012 commented on #1765
@jdelStrother can you do another benchmark that involves an actual request? and 4~5 ms seems reasonable to me. imo, if a rack request normally take 50ms to complete now takes 65ms (triggered 3 redis error), it's still acceptable?

I think the main problem is that the redis exception is reported a lot more frequently than we'd want it to be. but the SDK actually doesn't have control on that.

so as

[2022-03-18 18:03] jdelStrother commented on #1765
Totally agree that this is made 100x worse by Rails7's behaviour here, and we're going to monkeypatch `RedisCacheStore#failsafe` to deal with it.

Still, in real requests, we had some high-traffic requests that normally take 20ms jump to 120ms. They were triggering the error about 6-8 times each, mostly from Rack::Attack checks.
Another awful case is our RSS feeds that might have 400 partial-rende

[2022-03-18 18:07] st0012 commented on #1765
can you tell me more about the Rack::Attack case? I thought it'd only raise on exception, get reported, and then return the response? why would it have 6~8 exceptions?

[2022-03-18 21:09] entretechno-jeremiah opened #1766 "`last_event_id` references transaction event"
### Issue Description

When I [call `Sentry.last_event_id` to expose the event ID for the last exception to my event handler](https://docs.sentry.io/clients/ruby/usage/#referencing-events), it includes the ID of a transaction event.

### Reproduction Steps

1. Initialize the client to sample every transaction (see below).
2. Trigger an exception.
3. Call `Sentry.last_event_id`.

### Expected Behav

[2022-03-18 21:29] st0012 commented on #1766
@sl0thentr0py can you take a look at this? thx

[2022-03-20 03:01] natematykiewicz opened #1768 "Add ability to wrap a method in instrumentation"
**Describe the idea**

This Tweet describes how to instrument the `ConnectionPool#with` method in Scout, to tell how long you waited for a connection from the pool. It would be great if there were a simple way to do this with Sentry.

https://twitter.com/adamlogic/status/1390661379787534341

**Why do you think it's beneficial to most of the users**

The `ConnectionPool` gem is commonly used by bot

[2022-03-20 12:34] st0012 commented on #1768
@sl0thentr0py I think similar APIs is a must-have if we want to push tracing further. Wdyt?

[2022-03-20 12:39] st0012 commented on #1603
@ragesoss the case you described seems to be the reason I'm deprecating the `async` option, which is described here https://github.com/getsentry/sentry-ruby/issues/1522

I think you can avoid this problem by simply not using the `async` option and just let the SDK's background worker send those events.

[2022-03-20 12:41] st0012 commented on #1620
@h0jeZvgoxFepBQ2C this approach should work with all applications. can you open an issue with a demo script/app?

[2022-03-20 15:00] st0012 commented on #1745
@sdogruyol @ajparise sorry for the delay. I've added https://github.com/getsentry/sentry-ruby/pull/1769 to address the issue, which I think should solve the problem. it'd be great if you can help me verify the fix, thx 🙂

[2022-03-20 15:30] st0012 commented on #1765
@jdelStrother ah I see. so that'll also go away if the redis error is not reported anymore.

[2022-03-20 17:56] ragesoss commented on #1603
Interesting, thank you! Upgrading to the latest version already fixed it, I think, but it sounds like there's no good reason to continue using `async` anyway.

[2022-03-21 08:08] Flixt commented on #1754
No worries! Glad we figured that out :)

The idea is that, error reporting is already essential for most of the apps. And having such an important component uncovered by tests could be risky, from losing contextual data to incorrectly using an interface

Not having to mock the requests myself would be a big benefit that would definitely make me more willing to ensure things get reported in the fut

[2022-03-21 08:40] Flixt commented on #1680
Having test helpers would definitely greatly improve the barrier (at least I currently have) to write tests for errors being reported, so I love the general idea.

I just wonder if this is something that should **also** be provided one abstraction layer higher. I also wrote a comment about that into https://github.com/rails/rails/pull/43625 .

[2022-03-21 11:05] #1766 closed

[2022-03-21 11:54] sl0thentr0py commented on #1768
I do agree that the current transaction api is kinda clunky for custom transactions/spans.
I'm all for adding language specific convenience helpers if it leads to more feature adoption.
Some context, adding a better custom instrumentation API has been an ongoing concern across SDKs for a while now. The major complexity for doing this generally across languages comes from async code, but we don't h

[2022-03-21 11:58] st0012 commented on #1768
I think @natematykiewicz consider `include_children` and `scope` the same thing? Just that `include_children` is a more explicit name.

[2022-03-21 12:33] sl0thentr0py commented on #1768
ah yes sorry I misinterpreted

[2022-03-21 13:11] natematykiewicz commented on #1768
Exactly @st0012! I was just trying to go with what felt like "Sentry" language. Since there's a `with_child_span`, I thought maybe `include_children` would be a good option. Though I guess it's actually the inverse of Sentry's `scope`.

The basic crux of it is that Scout already instruments all of the Redis commands (get, set, etc). By instrumenting `ConnectionPool#with`, I'm actually creating nes

[2022-03-21 14:32] natematykiewicz commented on #1768
Totally understandable. Anything that tells me how long we're waiting on a connection pool is incredibly helpful.

[2022-03-21 14:58] sl0thentr0py commented on #1768
Not that I'm aware of, currently Discover doesn't even support filtering by `span.op`. Pinging @getsentry/discover-n-dashboards if they have input here.

I think it's fine to just have a parent span for now and not do the `include_children` logic, anything more than that is a cross team collab as @st0012 said and not sure it's worth opening this box for now.

Either way, we can build this incremen

[2022-03-21 16:06] #1731 closed

[2022-03-21 16:07] st0012 commented on #1754
Close via #1771

[2022-03-21 16:07] #1754 closed

[2022-03-21 20:50] st0012 opened #1772 "Events sent from Resque workers can be randomly dropped"
The SDK's background worker relies on an [`at_exit` callback](https://github.com/getsentry/sentry-ruby/blob/16dae9d59e42685f4a06f3c49a201f8aa29a25a1/sentry-ruby/lib/sentry-ruby.rb#L215-L218) to finish its queue before the process exits to make sure no events are dropped unsent. But because Resque workers exit with `exit!` by default, which skips all `at_exit` callbacks, some events may not be sent

[2022-03-21 20:53] st0012 commented on #1772
I think this issue can be solve from 2 directions:

1. Tell users to set `RUN_AT_EXIT_HOOKS=1`.
2. Force all Resque events to be send synchronously.

I think 2) is the better option as it's within our control and sending Resque events synchronously shouldn't bring too much performance impact to users' apps.

[2022-03-22 10:10] baelter commented on #1748
We don't want to have to update `excluded_exceptions` every time we add a new handled exception, or refactor everything to use a shared base class.
Maybe application specific how you want to handle this, but if anyone ends up here with the same question, this is what we did the solve it.

Add a custom rack middleware that does
[code]
On "handled" exceptions that should not go to Sinatra. E.g. `unl

[2022-03-22 11:40] sl0thentr0py commented on #1772
hmm, so we'll need to send the transactions sync too? We haven't exposed this option so far right?

[2022-03-22 12:30] ajparise commented on #1745
@st0012 verified, thanks for the fix.

[2022-03-22 12:32] st0012 commented on #1745
@ajparise thank you 👍

[2022-03-22 12:59] #1745 closed

[2022-03-23 00:12] #1741 closed

[2022-03-23 00:12] #1740 closed

[2022-03-29 14:52] sl0thentr0py opened #1776 "Clean up `Event` and `TransactionEvent` inheritance logic"
The ideal modeling would be:

- `Event = breadcrumbs + request + contexts + tags....etc.`
- `ErrorEvent = Event + threads + exception + level`
- `TransactionEvent = Event + spans`

_Originally posted by @st0012 in https://github.com/getsentry/sentry-ruby/pull/1773#issuecomment-1081133376_

See also [js implementation](https://github.com/getsentry/sentry-javascript/blob/8035b14285a34d3b387319f01911

[2022-03-30 09:58] #1776 closed

[2022-03-31 19:33] st0012 opened #1778 "Background worker doesn't work for classic Sinatra apps"
### Issue Description

When being ran in classic mode and without `config.ru` (e.g. `bundle exec ruby app.rb`), Sinatra apps will be initialized at the end of the Ruby script by [a `at_exit` callback](https://github.com/sinatra/sinatra/blob/cf404526373298f06a59e1a129b6cdf8282ae216/lib/sinatra/main.rb#L45). And that means that the SDK's `at_exit` callback will also be called:

https://github.com/ge

[2022-03-31 19:35] st0012 commented on #1778
@sl0thentr0py This is a funny behavior that really puzzled me for a while 😂

[2022-03-31 19:39] st0012 commented on #1778
Oh damn. How many support tickets do we have that could've been turned into issues 😂
I don't know how to fix this either. But I'm going to add logging (debug) when the background worker is shutdown. That'll make similar issues easier to investigate.

[2022-03-31 19:40] sl0thentr0py commented on #1778
Oh not too many so far, but yeah that's a good point that I could definitely document some of those in the open on github. Just need to be less lazy. Will keep in mind. :)

[2022-03-31 19:42] st0012 commented on #1778
Haha, I'm not blaming you! It's a fun issue to debug and a good way to learn Sinatra anyway. I just didn't expect that you are already aware of it.

[2022-04-01 10:18] st0012 commented on #1748
@baelter Sorry for the long waiting because I also needed to learn Sinatra first to come up with a solution. I think you should be able to skip handled exceptions with `before_send`, like:

[code]

It'll automatically skip the exceptions that are already registered with the `error` method.
However, this snippet won't work if you have `async` configured. In that case, you'll need to get the excepti

[2022-04-01 12:19] baelter commented on #1748
Thanks a lot, will consider that!

[2022-04-01 16:36] jknipp opened #1782 "Proxy configuration in version 5+ no longer accepts a URL as a string"
### Issue Description

We have recently been migrating Rails 5.2 apps from `sentry-raven` to `sentry-ruby`. We have 2 services that are being migrated, one that is on using `sentry-raven` 4.x (v4.8 to be exact, using Faraday). And another that we tried to upgrade to `sentry-ruby` v5.0.2. In the app using v4.8, we were able to use the steps in the (https://docs.sentry.io/platforms/ruby/migration/#r

[2022-04-01 16:38] jknipp commented on #1782
@st0012 I'm happy to submit a PR if you can let me know what the preference is for fixing this (code or docs updates).

[2022-04-01 17:32] jknipp commented on #1782
Actually, I believe this needs to be handled in code using `URI` rather than via documentation. The workaround is really suboptimal when `URI` can parse the username and password from the URL string. Having conditional logic embedded in an initializer/configuration setup feels l like an anti-pattern.

My current workaround:

[code]

[2022-04-05 16:00] itay-grudev opened #1785 "Sentry Sidekiq JSON Serialisation Exception Severity:HIGH"
### Issue Description

Upon serializing a job for Sidekiq the following exception get's thrown, by `sentry-sidekiq` preventing the job from being sent to Redis. The request crashes, the user gets `500` and what's worse is that no error job gets sent to Sentry, so this was a massive pain to acquire.

Below is the stack trace of the failure starting with a call to `deliver_later` for a new user regi

[2022-04-05 16:01] itay-grudev commented on #1785
We solved the issue by downgrading to version `4.4.0` which we were using previously.

[2022-04-05 16:46] grosser opened #1786 "Log url to errors"
**Describe the idea**
show a clickable url instead of just the event id when logging an error

**Why do you think it's beneficial to most of the users**
they don't need to be a sentry expert to find the error

**Possible implementation**
[code]

to make this reusable a project setting might be needed, or the project could be included in the sentry api reply.

[2022-04-07 14:44] sl0thentr0py opened #1787 "Net::HTTP errors are sent upstream"
### Issue Description

Net::HTTP errors (here `Net::OpenTimeout`) don't derive from `StandardError` so they are not rescued in `send_event` and  sent upstream as exceptions to Sentry.

### Reproduction Steps

The following issue is from `SentryEventJob` with `config.async` but I think the problem holds generally.
https://sentry.io/share/issue/8e2e207b0fec41aaa2615f610a5437d6/

### Expected Behavio

[2022-04-07 19:36] sl0thentr0py commented on #1728
@Haumer not specifically, but in the medium long term, we're working on a partially cross-language solution with the AWS Extensions API that we'll release in a couple of months for other languages. Once that is done, we'd still need to add some ruby specific code but eventually we will also use that solution in the ruby SDK.

[2022-04-08 08:35] st0012 commented on #1782
@jknipp Sorry for the breaking change, I wasn't aware of it. I think the change should be on code, as it used to be supported.

[2022-04-08 15:36] jknipp commented on #1782
Hi @st0012, no worries. I'll try to of a PR up for review later today.

[2022-04-08 21:01] #1782 closed

[2022-04-09 09:12] st0012 commented on #1603
Since envelope size check has been introduced in `5.2.0` (https://github.com/getsentry/sentry-ruby/pull/1747), I'm closing this now. If you found any new issue related to payload size limit again, please open a new one, thx 🙂

[2022-04-09 09:12] #1603 closed

[2022-04-09 10:30] st0012 commented on #1768
@natematykiewicz not exactly what you hoped for, but you will be able to simplify the wrapping block to

[code]

in this case, it'd be something like:

[code]

the API will be released in `5.3.0`.

[2022-04-09 10:32] st0012 commented on #1748
@baelter Glad to help. I'm closing this for now 🙂

[2022-04-09 10:32] #1748 closed

[2022-04-10 18:37] manuelmeurer opened #1789 "Capture rails runner's exceptions"
### Issue Description

When I run `bin/rails runner "raise 'test error'"`, it is not sent to Sentry. (same with `bundle exec rails runner`).
I was under the impression that this was fixed in #1448.

`bin/rails runner "Sentry.capture_message 'text'"` and `bin/rails runner "Sentry.capture_exception StandardError.new('text')"` both work as expected.
`bin/rails runner "puts Sentry.configuration.backgr

[2022-04-12 23:11] modosc opened #1790 "sentry-sidekiq throwing ActiveJob::SerializationError"
### Issue Description

same as https://github.com/getsentry/sentry-ruby/issues/1585

we are seeing these entries in our logs (~3k in the last week):
[code]

i realize there's a theoretical solution [here](https://github.com/getsentry/sentry-ruby/blob/53deb6eeefef79a06a89660d7a4fb073e53c61e5/sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb#L9) but somehow it's not working correctly.

[code]

###

[2022-04-13 06:19] linhmtran168 opened #1791 "Add request info to custom_sampling_context in Rails middleware"
For rack middleware, it's already implemented in https://github.com/getsentry/sentry-ruby/pull/1749/
But since the `start_transaction` is overridden in Rails middleware, so request info is not available in sampling context when using with Rails app
 https://github.com/getsentry/sentry-ruby/blob/9f6ab0c4faf728276d4fdf750a1d37b375869136/sentry-rails/lib/sentry/rails/capture_exceptions.rb#L33-L42

[2022-04-13 14:29] silent1mezzo commented on #1768
@sl0thentr0py @st0012

Because Spans aren't indexed there aren't any plans to add them to Discover or Dashboards. We have started doing some basic things with spans in Performance like showing the spans that account for the slowest times across transactions (Suspect spans) and grouping by certain `span.op` (http, db, browser and resource). We could definitely look at bringing in a `cache` one too.

[2022-04-13 18:07] st0012 commented on #1790
@modosc Thanks for reporting this. I think it's caused by the use of `async` option + `Sentry::SendEventJob`, but without a reproduction app I can't be certain on it. And as I mentioned in #1585, `async` option is now discouraged and if your reason behind it is described as in the comment:

[code]

I can tell you that it's not necessary anymore. The SDK now has its own background worker that'll di

[2022-04-13 18:18] st0012 commented on #1789
That's because `sentry-rails` currently doesn't capture exceptions from Rails `console` or `runner` command. I think I would still not support `console` because it's too easy to trigger events because of typos. But I think `runner`'s case may be debatable.

I personally also use `rails runner` for debugging/experimenting purpose more so I don't usually want to report its exceptions automatically.

[2022-04-13 19:22] modosc commented on #1790
aparently today was the wrong day to make that change:
[code]
i don't think this is a reasonable way forward.

[2022-04-13 19:39] st0012 commented on #1790
Status `429` means the payload size exceeded the limit (200kb). And since `async` doesn't change **what** was sent, that should have happened in your current setup as well. Can you check if some of the sidekiq jobs also failed because of the `429` responses?

Also, if you can switch to debug level for logging, it should tell you what info was oversized and caused the error. You can partially switc

[2022-04-13 19:41] modosc commented on #1790
i will look at this but again - this is very surprising behavior.

[2022-04-13 19:42] modosc commented on #1790
also all the docs say 429 is quota exceeded?

https://docs.sentry.io/product/accounts/quotas/

but we aren't listed as being over quota. i tried filing a support ticket as well.

[2022-04-13 19:47] st0012 commented on #1790
Sorry my memory screwed my up 🤦‍♂️

- `413` means oversized.
- `429` means the events are being [rate-limited](https://develop.sentry.dev/sdk/rate-limiting/).

So in your case, the events are being rate-limited because high volume. That's actually a valid behavior if your application is seeing a high-rate of exceptions.

And the reason you only see it after `async` is removed is probably because n

[2022-04-13 19:58] st0012 commented on #1790
BTW, the SDK will automatically rate-limit events once it received the `429` response, so it won't keep making unnecessary requests to Sentry.
But if you want to reduce the volume of events, you  can set the `config.sample_rate` config with something like `0.5` (50%).

[2022-04-14 04:21] modosc commented on #1790
ok thanks.

[2022-04-14 04:21] #1790 closed

[2022-04-14 08:44] manuelmeurer commented on #1789
Thanks for the clarification, @st0012!

I agree that errors in `console` should not be captured, since the user sees them immediately after typing in.
When using `runner`, my expectation was that errors are captured by default, though.
In our project (and in many other projects I worked on), `runner` is used together with Cron to execute hourly, daily or weekly tasks, i.e. `bundle exec rails runne

[2022-04-14 08:57] sl0thentr0py commented on #1785
but the exception is in sidekiq when it tried to queue the job? I don't see any `sentry-sidekiq` in your stacktrace.

[2022-04-14 08:58] manuelmeurer commented on #1789
What would be a way to explicitly tell Sentry to capture errors when using `runner` for now?
I thought `bundle exec rails runner "Sentry.with_session_tracking { raise 'test' }"` would work but it doesn't...

[2022-04-16 13:23] itay-grudev commented on #1785
You may be correct. But I believe the problem starts from this point in the stack trace:

[code]

[2022-04-17 10:05] #1791 closed

[2022-04-17 10:16] st0012 commented on #1789
`Sentry.with_session_tracking` only changes the session stat sent to Sentry. It doesn't capture exceptions unfortunately.

I just checked [rails runner's doc](https://guides.rubyonrails.org/command_line.html#bin-rails-runner) and it looks like running production code/script is frequent usage, so I'll support exception capturing for it.

[2022-04-17 11:24] st0012 commented on #1789
Unfortunately, there's no API for providing such integration at the moment. I have [proposed a new API](https://discuss.rubyonrails.org/t/proposal-provide-api-to-wrap-runner-commands-execution/80468) for this purpose but I'm not sure if it'd be accepted. And even if it were accepted, it will only be implemented in Rails 7.1 and won't help your case much 😬

I'm considering using the `at_exit` worka

[2022-04-18 22:09] modosc opened #1793 "ability to set a global reporting level"
it would be useful to configure a global exception reporting level (eg, `:warning`, `:error`) so that all reported exceptions below this level are dropped.

rollbar/bugsnag have this afaik.

the only way i could find to do this was via `before_send` but we found the structures passed into that method don't match the structures in the docs and we couldn't find a reliable way to filter on `level:`.

[2022-04-19 09:56] sl0thentr0py commented on #1785
That's just an instrumentation wrapper that yields to the block given eventually.
I don't think this is a problem anywhere in sentry, this is a serialization problem in sidekiq.
If you still think this is a sentry problem, you need to give me some sort of minimal reproduction case.

[2022-04-19 10:07] sl0thentr0py commented on #1789
yea I'm fine with both `at_exit` and a new wrapper for exception capturing.

[2022-04-19 10:11] itay-grudev commented on #1785
Will look into it again. Thank you for your time.

[2022-04-21 18:44] sl0thentr0py opened #1795 "Add tracing support for faraday requests"
Right now we just have `Net:HTTP` support for outgoing http requests and if Faraday uses some other adapter we don't get any spans.
https://github.com/lostisland/awesome-faraday/#adapters

[2022-04-23 11:17] st0012 commented on #1786
@sl0thentr0py Can you check if this is possible for both `sentry.io` and self-hosted users? I think it'd be helpful but not sure what's our stance for this.

[2022-04-23 13:32] st0012 commented on #1761
Upgrading to `Rack 3` will cause multiple errors in the `sentry-rails` test suite. But I think the cause is between `Rack 3 <-> Rails` and have opened an PR for it: https://github.com/rack/rack/pull/1876

[2022-04-23 15:11] grosser commented on #1786
I think it should be possible since the sentry_dsn is unique and the api could return a url to go to. If that for some reason does not work, at least a "base url" setting should always work.

[2022-04-23 20:21] #1761 closed

[2022-04-25 13:53] sl0thentr0py commented on #1786
The canonical way right now to use the `event_id` is the [`showReportDialog` functionality](https://docs.sentry.io/platforms/python/enriching-events/user-feedback/) but I agree that this whole flow could be optimized for certain languages/frameworks.

I'll bring this up internally.

[2022-04-27 05:28] helmiattastify opened #1798 "Sentry doesn't send any errors even though the configuration already setup"
### Issue Description

I try to use sentry and follow the instruction but it need **Sentry.capture_message** in every exception

### Reproduction Steps

follow the documentations

### Expected Behavior

sentry can send all of the errors without using **Sentry.capture_message**

### Actual Behavior

Sentry cannot send the error to sentry server

### Ruby Version

2.6.3

### SDK Version

gem "sentry

[2022-04-27 05:57] helmiattastify commented on #1798
@st0012 I don't find how to capture global exceptions in docs.

So it won't capture global exception / errors automaticly

[2022-04-27 06:34] helmiattastify commented on #1798
sorry @st0012 this gem still has a conflict with better errors

I hope in the future sentry never conflict to catch the exceptions with better errors

[2022-04-27 06:34] #1798 closed

[2022-04-27 12:15] sl0thentr0py opened #1799 "`SystemStackError` exceptions dropped by payload truncation logic"
These exceptions have lots of `frames` in the exception object, we could be a bit smarter and truncate the frames instead of dropping the whole envelope item.

[2022-04-28 01:40] PikachuEXE commented on #1799
Where is the payload truncation logic happening now?
I can try to figure out what to change. (As this is affecting one of my projects)

[2022-04-28 11:33] sl0thentr0py commented on #1799
@PikachuEXE here
https://github.com/getsentry/sentry-ruby/blob/7429e6c239a904bd6b00e1e55b2449fbe5045167/sentry-ruby/lib/sentry/transport.rb#L85-L93

[2022-05-02 02:18] BeckysLife opened #1804 "G"
**Describe the idea**

**Why do you think it's beneficial to most of the users**

**Possible implementation**

[2022-05-02 08:37] st0012 commented on #1804
? Is this a joke...?

[2022-05-03 07:13] tsu-shiuan opened #1805 "Sentry::Scope#set_contexts fails duplicate keys don't have Hash values"
### Issue Description

Introduced here https://github.com/getsentry/sentry-ruby/pull/1621 in versions 4.8.1 and above.

I believe the intention here is that when additional context is given for the same key, _and_ when the value is a Hash, we want to append any new key values to the existing Hash as shown in the description.

The problem is that not all values are Hashes, which results in 👇
[code]

[2022-05-03 07:17] tsu-shiuan commented on #1805
If I could get permissions to submit a PR, I'd be happy to 😄

I think the code should be changes as follows

[code]

This allows the overwriting of values when a key already contains a value but is not a hash. If the team has opinions around how to handle more cases such as when the value is an Array where we'd append new values to the old Array, I'm happy to add the code for that too.

[2022-05-03 08:42] st0012 commented on #1805
@tsu-shiuan Context's values are expected to be hashes. That's why you saw the error.
In your case, I recommend you to use `set_extras` instead.

[2022-05-03 09:13] tsu-shiuan commented on #1805
Understood! We will do that, thanks for the clarification

[2022-05-03 09:13] #1805 closed

[2022-05-03 09:14] tsu-shiuan commented on #1805
Maybe we could add an additional validation to `check_argument_type!` to also check that the value is a Hash instead of just the first level?

[2022-05-04 05:37] jakeonfire opened #1808 "Cannot share a single DB connection between a unicorn worker and sentry worker"
### Issue Description

It is not possible to have a single database connection for a process that then reports a sentry error asynchronously without opening an additional connection.

we have an RDS DB with many connections, but also a huge fleet of sidekiq workers that can scale up and down in the thousands. so doubling the connection count requirement is not currently possible.

### Reproduction

[2022-05-04 05:41] jakeonfire commented on #1808
i would file this under optimizations. we have many workers with autoscaling and limited DB connections. if sentry could re-use a DB connection if needed instead of requiring a new one that would have a big impact for the number of required connections for largely horizontally scaled applications. even making it optional instead of required would be a win in some cases.

[2022-05-04 08:53] smeubank opened #1809 "Align SDK with docs regarding session update for dropped events"
### Description

We've updated the docs (https://github.com/getsentry/develop/pull/551) to explain how we would like to handle event filter order, updating of sessions for dropped events and sending of session updates. We should check if we're aligned and adapt if necessary. Here's the issue from the Java SDK where all of this started: https://github.com/getsentry/sentry-java/issues/1916

[2022-05-05 10:22] #1804 closed

[2022-05-07 01:03] jakeonfire commented on #1808
one idea: https://stackoverflow.com/a/26733385

[2022-05-07 01:59] jakeonfire commented on #1808
@st0012 i think my PR solves the original issue without requiring an additional DB connection

[2022-05-07 10:33] st0012 commented on #1808
Closed via #1812

[2022-05-07 10:33] #1808 closed

[2022-05-09 17:27] pravi opened #1815 "sentry-ruby gem seems to be missing lib directory entirely"
### Issue Description

sentry-ruby gem only includes these two files
LICENSE.txt  README.md

### Reproduction Steps

[code]

[code]

Though I can see sentry-ruby-core including gemspec for both gems. Is this expected behavior? It is very confusing though.

### Expected Behavior

It should match the files in
https://github.com/getsentry/sentry-ruby/tree/master/sentry-ruby

### Actual Behavior

It i

[2022-05-13 03:42] elct9620 opened #1818 "Sentry.with_child_span didn't handle current scope is nil"
### Issue Description

https://github.com/getsentry/sentry-ruby/blob/0fe8d27e4f84fda11475437a1cdd16f016efd904/sentry-ruby/lib/sentry-ruby.rb#L401-L420

The `get_current_scope` will return `nil` before initialized then the `with_child_span` will failed.

### Reproduction Steps

[code]

### Expected Behavior

Ignore the span until Sentry is ready.

### Actual Behavior

Raised `UndefinedMethod` error

[2022-05-13 13:51] jpaulomotta commented on #1427
What is the status on this?

We had our app crashing in prod because of this issue.

We had to disable scout entirely, because Sentry is more important on our stack.

[2022-05-13 14:16] mikescar commented on #1427
@jpaulomotta  Sub-optimal, but a workaround to have both running since scout fix doesn't seem to be happening, [at least this way](https://github.com/scoutapp/scout_apm_ruby/pull/402)

(this is for sentry 5.1.0 with scout 5.1.1)

1. set a `SCOUT_DISABLED_INSTRUMENTS` ENV to `["Net::HTTP","NetHttp"]`
  - i think only one of these is necessary, but i didn't go back and try to sort it out, took long

[2022-05-14 10:01] st0012 commented on #1815
Since this behavior doesn't affect how you should use the SDK, I think it's not a bug.

We introduced `sentry-ruby-core` to work around `faraday` dependencies issue in the past, that is:

- `sentry-ruby-core`: where the SDK actually live, without hard version requirement on `faraday`
- `sentry-ruby`: depend on `sentry-ruby-core` + hard version requirements on `faraday`
- `sentry-*`: depend on `sen

[2022-05-14 10:10] st0012 commented on #1818
@elct9620 Thanks for reporting this 😄 I've added #1819 to address it.

[2022-05-14 10:21] #1818 closed

[2022-05-17 22:17] kiddrew opened #1822 "Rails - Is there a way to disable Sentry for one controller method?"
I have a controller method that generates a ton of low value requests that are chewing through my Sentry transactions, and I'd like to disable monitoring for that one method. Is there an easy way to do that?

[2022-05-18 00:13] #1785 closed

[2022-05-20 07:12] IlkhamGaysin opened #1823 "Scrubbing Sensitive Data for Span"
Hey guys, I've my Ruby on Rails application accepting [Data URI scheme](https://en.wikipedia.org/wiki/Data_URI_scheme) in params.
Sentry has the limits on payload size described [here](https://develop.sentry.dev/sdk/data-handling/#variable-size). Meanwhile sentry does not call `before_send` hook to filter payload for `TransactionEvent`.
[Here](https://github.com/getsentry/sentry-ruby/blob/master/s

[2022-05-20 08:33] st0012 commented on #1823
You can use `Event processors` for this, like:

[code]

But I think this is less than ideal and we should provide something similar to `before_send` but just for transactions. @sl0thentr0py

[2022-05-20 08:46] st0012 commented on #1822
You should be able to use the `traces_sampler` config for that as described in [this example](https://docs.sentry.io/platforms/ruby/guides/rails/configuration/sampling/#setting-a-sampling-function).

[2022-05-20 10:59] #1799 closed

[2022-05-20 14:05] kiddrew commented on #1822
Perfect, thank you @st0012!

[2022-05-20 14:05] #1822 closed

[2022-05-20 14:16] st0012 commented on #1822
@kiddrew np, glad to help 😄

[2022-05-20 19:55] #1789 closed

[2022-05-24 00:43] ariccio commented on #1522
I greatly appreciate this extra warning message! It's a good warning. Can you tell me exactly what I should do? Should I simply remove this code from my codebase, or do I need to add something else?

[code]

[2022-05-24 20:58] jywarren commented on #1427
Following @adi-pen's comment:

I saw Skylight's v5 announcement seems relevant:

Updating to Skylight v5 worked for us - required update to Ruby 2.7.3 however. (https://github.com/publiclab/mapknitter/pull/1712) (error log [had been this](https://gist.github.com/jywarren/4662102a2ce078c981a79c1bffcce935))

[2022-05-25 20:23] #1815 closed

[2022-05-28 09:45] st0012 commented on #1522
@ariccio You can simply delete it 😉

[2022-05-31 05:58] elct9620 opened #1827 "Release name missing one character"
### Issue Description

For each deployment, the Sentry will capture the release name but it always missing one character.

<img width="1671" alt="截圖 2022-05-31 下午1 46 21" src="https://user-images.githubusercontent.com/887984/171101470-369bb1b5-9312-451d-a378-5a4b48680c26.png">

It caused the commis unable to set correctly.

### Reproduction Steps

Deploy with Docker using the below gems:

* https:

[2022-05-31 09:47] st0012 commented on #1827
I can't reproduce this with either `SENTRY_REVISION` env nor the `REVISION` file. And `sentry-rails` actually doesn't touch the release detection at all so I doubt it's the reason.

What happens if you do

[code]

[2022-05-31 10:31] elct9620 commented on #1827
Still have same problem 🤔

<img width="1661" alt="截圖 2022-05-31 下午6 30 55" src="https://user-images.githubusercontent.com/887984/171153833-8f524a9c-6d46-4e4c-b7a1-ae6ecdf6da26.png">

[2022-05-31 14:59] elct9620 commented on #1827
I disable the CI job to create the deployment to Sentry.

But I still got two releases in Sentry, I guess something caused my instance to create twice.

[2022-05-31 15:33] elct9620 commented on #1827
Finally, I found the root cause 😅

I set the `SENTRY_DSN` to GitLab CI to make the deploy job can set it as the environment when deployment.
But the test job also uses it to send the event to Sentry. The Sentry uses 7 characters by default when they can find the commit SHA to set the release name.

I will close this issue because it seems not a bug but we can improve this behavior.

[2022-05-31 20:59] st0012 commented on #1827
We don't really cut the release to 7 chars. The command we use `git rev-parse --short HEAD` should just return 8 characters. So I'm not sure how can we improve it.

[2022-06-01 01:02] elct9620 commented on #1827
It may not happen on the ruby side, the Sentry server always displays the commit sha in 7 characters. (connected GitLab or not both display 7 characters)

<img width="1665" alt="截圖 2022-06-01 上午8 58 47" src="https://user-images.githubusercontent.com/887984/171307360-9f46c8b9-bc74-414b-b2cf-3685acbf05ed.png">

[2022-06-02 19:22] silvermind opened #1830 "Skip Transaction Tracing for ActionController::RoutingError in a Rails Exception App"
HI guys,

I'm trying to prevent ActionController::RoutingError **Transaction Events** from being sent to Sentry. As regular pentest scans pollute our performance reports in sentry. The default config IGNORE_DEFAULT already skips the 'ActionController::RoutingError' Error Event, but the Transaction Event is still sent with status internal_error.

Using the Sampling Function seems a possible way to

[2022-06-07 11:42] sl0thentr0py commented on #1830
Hi @silvermind, we added the whole rack env to `sampling_context` so you can use it in your `traces_sampler`. See an example below. Does that help?

https://github.com/getsentry/sentry-ruby/blob/c237974b185e51296542237cbca7f9c1ba1a7eb6/sentry-rails/spec/sentry/rails/tracing_spec.rb#L209-L217

[2022-06-07 18:37] vitobotta opened #1831 "Sort endpoints by allocations"
**Describe the idea**

I would like to be able to sort traces for web requests by allocations.

**Why do you think it's beneficial to most of the users**

It can help investigate issues with memory usage.

Context: I am trying to find out the cause of some memory issues (not sure if bloat or proper leak yet), and It would be useful to see information about allocations and memory usage in general.

[2022-06-08 08:16] st0012 commented on #1831
I think this feature has 2 parts:

- The SDK should start sending memory allocation info for Transactions. We can start from `sentry-rails` as Rails should already captures such info.
- Sentry core needs to support custom or dedicated memory column on the performance dashboard. This is a feature I think many APM services have (I remember ScoutAPM has it), so it may already on their list. @sl0thent

[2022-06-08 11:26] sl0thentr0py commented on #1831
hi @vitobotta @st0012 this is actually on our roadmap and we're building 'Custom Measurements/Metrics' support into Sentry. Once this is ready, you'll be able to add arbitrary measurements onto a transaction and then use them in Discover/Performance dashboards. (Don't have an ETA though for when all sides of the product will be ready, sorry!)

We will also build common use cases such as this one i

[2022-06-08 14:33] vitobotta commented on #1831
Hi! Thanks for letting me know Glad it's on the roadmap! Looking forward to it.

[2022-06-26 18:31] smeubank opened #1835 "feat(tracing) [DSC] Dynamic Sampling Context continuation"
### **Describe the idea**
As a server side platform one ruby applications instrumented with the Sentry SDK should continue to propagate dynamic sampling context data to all outgoing requests.

The SDK should extract Dynamic Sampling Context from incoming requests, and propagating DSC to downstream SDKs.

### Requirement:
**When** a Ruby application receives a request which has baggage attached wit

[2022-06-27 07:53] smeubank opened #1836 "feat(tracing) Collect DSC for head of trace"
### **Describe the idea**
Applications instrumented with a Sentry SDK should collect and propagate dynamic sampling context data to all outgoing requests and to Sentry.

### Requirement:
**When** an application has an event which is the head of a trace,
**the SDK shall** collect and propagate all possible values in outgoing requests and to Sentry
**so that** contextual data can be propagated in al

[2022-07-01 12:44] phlegx opened #1837 "Warning: already initialized constant"
### Issue Description

After add `gem 'sentry-ruby', '5.3.1'` to the Gemfile, we get this warnings:

[code]

### Reproduction Steps

- Install ruby 2.7.2
- Install rails 7.0.3
- Add `gem 'sentry-ruby', '5.3.1'` to the Gemfile
- Run `bundle`
- Run `rake db:create` or another rails command

### Expected Behavior

No warnings should be shown after run `rake db:create` or another rails command.

### A

[2022-07-02 09:42] st0012 commented on #1837
I don't mind adding `net-http` as dependency but it triggered a lot more warning because of `uri`

[code]

And this time I can't solve it by adding `uri` to Gemfile. Have you seen anything like this?

[2022-07-02 09:48] phlegx commented on #1837
Adding `net-http` as dependency helps to remove some warnings. Adding `uri` don't helps. Also upgrading Ruby to 2.7.6 don't removes the warnings. What helps is to move to Ruby 3.x.

[2022-07-02 09:57] st0012 commented on #1831
@sl0thentr0py From the SDK doc I can see that there are also standard measurements like:

[code]

Which I think we haven't supported yet? Should we also do that?

[2022-07-02 15:52] silvermind commented on #1830
worked :) thanks a lot.

would be nice to have the above sample with sampling_context[:env]  added to the docs at:
https://docs.sentry.io/platforms/ruby/configuration/sampling/

[2022-07-06 21:28] matthieuprat opened #1840 "The `report_rescued_exceptions` option is not honoured in a Rails production environment"
### Issue Description

Setting the [`report_rescued_exceptions`](https://github.com/getsentry/sentry-docs/blob/db9aac156e580a29ddd4fa7ef2789d04fee53b3d/src/platforms/ruby/common/configuration/integration_options.mdx#sentry-rails) option to `false` doesn't seem to be effective in a Rails production environment: exceptions rescued by the `ActionDispatch::ShowExceptions` middleware are reported, but

[2022-07-07 09:27] sl0thentr0py opened #1841 "Expose `values` in `ExceptionInterface`"
useful for some `before_send`s

[2022-07-07 09:28] sl0thentr0py opened #1842 "Add `close` api for sdk"
Some testing environments need to tear down the SDK around each test, so clean up state and 'close' the SDK.

[2022-07-10 17:08] st0012 commented on #1842
@sl0thentr0py What level of clean up do we expect? Like what we have in the `at_exit` block?

https://github.com/getsentry/sentry-ruby/blob/5c8a5e39cda61b18a317e2c43d84678ee1c8d6d1/sentry-ruby/lib/sentry-ruby.rb#L216-L219

Or we expect more like unpatching stuff.

If it's the later, it's super hard and flaky to do in Ruby due to the lack of language support. That's why we have isolated test cases

[2022-07-10 17:59] st0012 commented on #1840
@matthieuprat I checked your test case and it does fail. However, I don't think it's captured through the request env.

I used [ruby/debug](https://github.com/ruby/debug)'s tracer to see how the exception flows

[code]

And here's the result:

[code]

If you check the last few traces, you can see it's actually reported via raise/rescue:

[code]

So perhaps it's because of the `RescuedExceptionInte

[2022-07-11 10:02] sl0thentr0py commented on #1842
So one of our larger customers wants to `Sentry.init` and `Sentry.close` around each test. Right now if they call `Sentry.init` in one test, the sdk remains initialized across the other tests.

[2022-07-11 11:35] matthieuprat commented on #1840
Yes, I think you're right; since 7a3a86b, the exception is no longer captured via the request env. It just bubbles up to the `CaptureExceptions` middleware that reports it and re-throws it.

Before 7a3a86b, the `ShowExceptions` middleware would swallow the exception before it would reach the `CaptureExceptions` middleware. However, the middleware would still report the exception by retrieving it f

[2022-07-11 11:40] st0012 commented on #1840
I don't understand why should we update the doc. In the case, the exception was re-raised by the Rails itself, therefore it's not actually rescued (or swallowed to be precise). So the SDK doesn't report a rescued exception, it's a raised exception.

[2022-07-11 23:07] matthieuprat commented on #1840
Hm, I don't think this is the case. In a production environment (more precisely, when `action_dispatch.show_exceptions` is true), exceptions are [swallowed](https://github.com/rails/rails/blob/v7.0.3/actionpack/lib/action_dispatch/middleware/show_exceptions.rb#L27-L30) by the `ShowExceptions` middleware.

To clarify, the flow is the following:
1. The exception reaches the `RescuedExceptionIntercep

[2022-07-13 08:38] sl0thentr0py opened #1845 "Span truncation"
Add some span truncation logic similar to frames/breadcrumbs

[2022-07-13 15:29] grosser opened #1846 "rails: allow showing link to sentry page on error page"
**Describe the idea**
![image](https://user-images.githubusercontent.com/11367/178772153-42a70825-d3a5-4383-b1c8-c5accd73595d.png)

**Why do you think it's beneficial to most of the users**
- useful for internal apps to be able to link directly to the error
- useful for public apps to show an error code that engineers can later hunt down

**Possible implementation**
https://github.com/grosser/sent

[2022-07-16 10:24] st0012 commented on #1840
Yes you're correct. Sorry that I was scoped by the cause you mentioned at the beginning.

I think this is a bug and I'll find a way to fix it. Thanks for detailed report 👍

[2022-07-18 14:16] matthieuprat commented on #1840
No worries, thank you for the quick follow-up!

[2022-07-18 22:28] #1840 closed

[2022-07-19 14:23] st0012 commented on #1846
I like the idea but I'm not sure if we need to use Fiber locals for that. Won't storing it in `env` work?

[2022-07-19 14:28] grosser commented on #1846
storing in env will work if the core middleware is refactored to pass the env to capture_exception

[2022-07-19 14:31] st0012 commented on #1846
I just did it in https://github.com/getsentry/sentry-ruby/pull/1847 😄

[2022-07-20 08:52] st0012 commented on #1846
I'm not convinced that we should maintain a new middleware + a template (even just minimum) for this. I think as an SDK, it should just inject the event id into the `env` and users/libraries should implement their solutions from there.

[2022-07-20 09:01] arthurwozniak opened #1848 "Sentry::SessionFlusher causes ThreadError and delay shutdown of puma worker"
### Issue Description

After upgrading to sentry 5.3 we ran into a situation where the session tracking feature caused problems for the puma server.

In our stack, we integrate the `rack_timeout` gem (https://github.com/zombocom/rack-timeout) to prevent requests from running longer than a specific period of time. If the request should be killed, `rack_timeout` sends `SIGTERM` to the `puma` worker

[2022-07-20 14:34] grosser commented on #1846
I'm fine with that too, good step forward and easy to do ...

[2022-07-20 14:45] st0012 commented on #1846
Ok I’ll open a PR for that 👍

[2022-07-20 20:15] st0012 commented on #1846
PR opened: https://github.com/getsentry/sentry-ruby/pull/1849

[2022-07-21 10:25] #1846 closed

[2022-07-21 13:21] sl0thentr0py commented on #1848
hey @arthurwozniak thanks for the detailed issue, much appreciated! I will fix this shortly.
Just for a consistent repro, can you give me your puma config?

[2022-07-21 14:18] sl0thentr0py commented on #1848
@arthurwozniak I made #1851, the only difference from your solution is we are not checking for `aborting` on the current thread.
 I don't think checking `Thread.current.status` is that clean semantically, we should just rely on `ThreadError` to tell us when creating a new thread is not possible. Can you try it out and tell me if it fixes your problem?

[2022-07-23 09:12] #1680 closed

[2022-07-25 09:56] penso opened #1854 "sentry: can't serialize breadcrumb data because of error"
### Issue Description

I believe there is an issue when an error occurs in the stack, I was expecting sentry to send a new issue but it did not. The error says:

`2022-07-22T14:58:02.391625+00:00 app[web.1]: 14:58:02 web.1    | D, [2022-07-22T14:58:02.374296 #57] DEBUG -- sentry: can't serialize breadcrumb data because of error: "\xD2" from ASCII-8BIT to UTF-8`

I use `.breadcrumbs_logger = [:acti

[2022-07-25 10:03] st0012 commented on #1854
The message only notifies you that 1 breadcrumbs record can't be serialized. The [error is rescued](https://github.com/getsentry/sentry-ruby/blob/c9b4eac913f0c6510178c451da57d91fc340fa20/sentry-ruby/lib/sentry/breadcrumb.rb#L55-L67) and it shouldn't prevent the event from being sent nor crash your app.

[2022-07-25 13:36] sl0thentr0py commented on #7
@st0012 can we close this issue now? feature seems to be stable.

[2022-07-25 13:40] #1076 closed

[2022-07-25 13:44] st0012 commented on #7
Hmm not really because:

1. It's not enabled by default. So many users may even not be aware of it.
2. ATM, `TracePoint` cancels YJIT's optimization so for newer Ruby users who relies on YJIT, it shouldn't be enabled.

I'm still not sure how to resolve the restriction as it'll require more exploration on alternatives.

[2022-07-25 13:45] #1848 closed

[2022-07-25 16:41] sl0thentr0py opened #1855 "Opaque with_scope behaviour"
Creating this issue for further discussion.

If you do the following, the exception will be captured but the tag won't be used (because that scope is thrown away in [an ensure](https://github.com/getsentry/sentry-ruby/blob/332315907185e6ffe05aa64dc751cdd8ab9f5448/sentry-ruby/lib/sentry/hub.rb#L60-L61)).
[code]

If you do the following, the exception will be captured _and_ the tag will be visible.

[2022-07-26 11:02] jkogara opened #1856 "Change in require behaviour with latest 5.4.0 version."
### Issue Description

I have an in house gem that wraps the sentry library. Before the 5.4.0 release

[code]

loaded the sentry library, this now raises the following exception

[code]

### Reproduction Steps

Add `sentry-ruby` as a runtime dependency to a newly created gem.
Add `require 'sentry-ruby'` to the entry point to the gem
run `./bin/console`

[code]

### Expected Behavior

It should loa

[2022-07-26 11:18] sl0thentr0py commented on #1856
fixing asap, thx for reporting!

[2022-07-26 11:27] #1856 closed

[2022-07-26 11:40] sl0thentr0py commented on #1856
@jkogara released 5.4.1, sorry about that!

[2022-07-26 13:03] tvdeyen opened #1858 "undefined method `exclude_loggers' for nil:NilClass during Rails boot on production"
### Issue Description

Booting a Rails app during deployment fails with

[code]

in

[code]

### Reproduction Steps

1. Update to sentry-ruby 5.4.1
2. Deploy to production
3. Run `rake db:migrate`

### Expected Behavior

It should not fail

### Actual Behavior

It should work

### Ruby Version

2.7.6

### SDK Version

5.4.1

### Integration and Its Version

Rails 6.0.5.1

### Sentry Config

[code]

[2022-07-26 13:03] tvdeyen commented on #1858
Downgrading to sentry-ruby 5.3.1 fixes the issue.

[2022-07-26 13:13] st0012 commented on #1858
This is weird because if it reaches there, the SDK should already be initialized so the configuration should present 🤔
https://github.com/getsentry/sentry-ruby/blob/09308ab1c79440918e0fde0e9f2dc5fef53d06d5/sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb#L80
@sl0thentr0py any thoughts?

[2022-07-26 13:22] sl0thentr0py commented on #1858
hmm I guess what is happening is that since this patches `Logger`, some rails logic seems to happen before `Sentry.init` and this patch tries to add breadcrumbs for those logs.
But I don't know why this would only show up in the new release.

[2022-07-26 13:24] sl0thentr0py commented on #1858
and we did add the `close` to `at_exit` which also sets `initialized?` to false and cause `Sentry.configuration` to be nil.

[2022-07-26 15:51] IlkhamGaysin commented on #1823
Do you need guys help? I can push a PR for this @sl0thentr0py @st0012

[2022-07-26 16:01] sl0thentr0py commented on #1823
@IlkhamGaysin for now you'll just have to use the event processor. Adding new APIs needs to go through a consensus process for having a [Unified API](https://develop.sentry.dev/sdk/unified-api/) across most of our SDKs. I personally do want to add something like this but we'll need to wait a bit for feedback from other language folks.

[2022-07-26 21:09] st0012 commented on #1858
But at the beginning of `add_breadcrumb` we already check `Sentry.get_current_hub` is present. So `Sentry.configuration` should also present I think? Ofc it's possible to have the SDK closed between the 2 calls but I think it's unlikely.

[2022-07-26 22:25] sl0thentr0py commented on #1858
yeah you're right. No clue, but I also see some `newrelic` in the trace above. I'll try to repro this tomorrow.

[2022-07-28 17:42] mecampbellsoup commented on #7
I seem to be no longer getting local captures with this config:

[code]
Running Ruby 3.1.2 and `sentry-ruby` 5.4.1.

[2022-07-29 13:18] ckdake opened #1859 "Exceptions no longer reported after 5.3.1 -> 5.4.1 upgrade"
### Issue Description

Hello! We updated a production rails app from sentry-ruby 5.3.1 to 5.4.1 and noticed that some exceptions stopped being reported to sentry.

Our sentry.rb initializer:

[code]

We are also instrumented with opentelemetry (opentelemetry-api (1.0.2), opentelemetry-instrumentation-active_record (0.4.0), opentelemetry-instrumentation-rack (0.21.0))

Our opentelemetry.rb initiali

[2022-07-30 10:30] st0012 commented on #7
@mecampbellsoup I can still see local variables captured though. Can you open a new issue with reproduction steps? Thx

<img width="80%" alt="截圖 2022-07-30 11 29 47" src="https://user-images.githubusercontent.com/5079556/181906352-f50d788b-1002-4489-8b65-8f3a31b6d6ac.png">

[2022-07-30 11:53] st0012 commented on #1859
I tried to produce the error with these initializers

[code]

And these dependencies

[code]

And I still received events from a similar database error  (don't have PG):

<img width="80%" alt="截圖 2022-07-30 12 49 01" src="https://user-images.githubusercontent.com/5079556/181909549-47fd14ae-8b05-4143-a059-4b82c0c5a753.png">

So it'll be great if you can

- Provide an example app to reproduce the er

[2022-07-30 12:17] st0012 commented on #1855
I think this is counter-intuitive and probably should be considered a bug.

[2022-08-01 00:16] #1837 closed

[2022-08-01 13:53] ckdake commented on #1859
Thanks for investigating!  I've set `config.debug = true` and am investigating this in local `development` with Sentry now enabled for all environments.

On `5.3.1` the error appears in the console logs, a large json blob of sentry debug output appears in the console logs, and the error appears in sentry. As expected for local dev, the stacktrace shows on the Rails error page.

On `5.4.1`,  the er

[2022-08-01 13:56] Pontus4 commented on #1267
Release [5.4.0](https://github.com/getsentry/sentry-ruby/releases/tag/5.4.0) includes `Sentry.with_exception_captured` which seems to be the equivalent we've been waiting for! 🎉

[2022-08-01 14:10] ckdake commented on #1859
Easier than expected, here you go!  https://github.com/ckdake/test-sentry-upgrade.

[2022-08-02 03:41] anteo commented on #1858
I got the same error with newrelic_rpm (8.9.0) + sentry-ruby (5.4.1)

Sentry calls `close` in `at_exit` handler which makes `Sentry.configuration` to be nil in the **main thread**.

At the same time NewRelic's AgentThread finalizes its job by sending events and breadcrumbs and also calling `SentryLogger#add_breadcrumb`. This method checks `Sentry.get_current_hub` to be present and it is present, b

[2022-08-02 09:02] sl0thentr0py commented on #1858
hmm that's a great explanation @anteo, thanks!
I believe we just need a better check in `add_breadcrumb`. Do you agree @st0012?
[code]

[2022-08-02 12:27] #1858 closed

[2022-08-02 16:30] vadviktor commented on #1522
We at my company have been plagued by the async feature for 1-2 years now; hitting the limit of the payload and the rate limit made us scratch our heads on how to safeguard against those (before Sentry internally remedied them). How we've caught these issues? By seeing Sidekiq being brought to its knees and important messages not processed.

Right now, we have decided to end the `async` reign, and

[2022-08-02 18:08] st0012 commented on #1859
I found the cause: you should use `5.4.1` for both `sentry-ruby` and `sentry-rails` but you're using `5.3.1` for `sentry-rails` instead. And between the 2 versions there are internal API changes so the error you saw are caused by the SDK's internal API issue.

While `sentry-rails` does have dependency requirement, versions before `5.4.0` require `sentry-ruby-core`, which was deprecated in `5.4.0`.

[2022-08-02 18:10] st0012 commented on #1859
cc @sl0thentr0py

[2022-08-02 18:22] ckdake commented on #1859
That looks like it does the trick! This upgrade was triggered by dependabot and we missed the sentry-rails piece somehow. Should sentry-ruby have a hard dependency on version of sentry-rails it needs?

[2022-08-02 18:26] st0012 commented on #1859
`sentry-ruby` shouldn't require `sentry-rails` because not all users need Rails integration. It should be other way around, which we already do.
This issue is because of the deprecation of the old `sentry-ruby-core` dependency so I think it's a one time thing for this upgrade. Sorry for the convenience though I didn't see it coming and I don't think there's a clean way to prevent it either 😥

[2022-08-02 18:34] ckdake commented on #1859
Ah right, plenty of ruby solo out there!  Thanks for investigating, glad we figured it out.

[2022-08-02 18:34] #1859 closed

[2022-08-03 13:32] Loschcode opened #1862 "Sentry sending out logs despite logger customization"
### Issue Description

I want to avoid all non-essential logs being sent to `STDOUT` by Sentry. For example, there's this one that pops often if your log level is set to `INFO`

[code]

After checking out the source code of your library, I've noticed this specific log uses the `logger` you're supposed to set through `config.logger` or the default one.

### Reproduction Steps

[code]

### Expected

[2022-08-03 13:44] Loschcode commented on #1862
Seems as if there was a problem in our core setting up Sentry in our case. I'll close the problem since it's not from your side guys.

[2022-08-03 13:44] #1862 closed

[2022-08-05 10:49] sl0thentr0py opened #1863 "Bad stacktraces with skylight"
### Issue Description

Something skylight does is interfering with the backtraces we receive. Investigate why.
I already tried swapping middleware orders but it didn't work.
Skylight does a bunch of `class_eval`'s so figure out where the problem is.

### Reproduction Steps

TODO

### Expected Behavior

Stacktraces look ok even with skylight

### Actual Behavior

Stacktraces have just one frame and

[2022-08-07 20:54] rafaelsales commented on #1733
I've come up with the following to put on Rails' `config/environment.rb`

[code]

This will report to Sentry when the Rails server fails to boot. The same should work for scripts too.
I'd love to have this exposed in Sentry as:
[code]

[2022-08-07 21:43] st0012 commented on #1855
After testing this, I think the actual problem is: should `with_scope` capture exceptions?

If it should, then we can

1. report the exception with the inner scope's data
1. pop the scope
1. re-raise the exception
1. the rest of the program continues with the original scope

(Because we now flag captured exceptions, it won't cause duplicated reporting)

If it shouldn't, we need to **not** popping

[2022-08-07 21:52] st0012 commented on #1733
@rafaelsales Thanks for the feedback! Can you also share what booting issues have been captured by this?

Asking because the exception needs to appear **after** the SDK is initialized, which [happens quite late in the booting process](https://guides.rubyonrails.org/initialization.html#railties-lib-rails-application-rb). So it probably mainly catches other initializers' issues? Which it's also help

[2022-08-08 01:55] rafaelsales commented on #1733
@st0012 yes, that's mostly to catch Rails' initialization issues - and for this reason the `Sentry.init` in my apps are now being called in `config/initializers/0_sentry.rb` to make sure that errors raised after that will be reported.

I also thought about loading and configuring Sentry even before initializing Rails, but for now I'm happy with the result.

[2022-08-08 03:27] rafaelsales commented on #1733
I just discovered sentry-cli bash-hook, so I guess I'll add the following to my docker entrypoint bash files:
[code]

This will cover all other scenarios.

Source: https://docs.sentry.io/product/cli/send-event/#bash-hook

[2022-08-08 09:50] sl0thentr0py commented on #1855
@st0012 so there are some things to consider here.
1. `with_scope` belongs to the [Unified API](https://develop.sentry.dev/sdk/unified-api/) so we can't just change it outright, even though I personally don't like these semantics.
2. we could introduce a new API that does the better semantics (capture/pop/re-raise) as you said, maybe call it `try_with_scope` (name could be better potentially)
3. i

[2022-08-08 09:52] st0012 commented on #1855
Don't other SDKs have the same issue? What are their solutions to this?

[2022-08-08 09:59] sl0thentr0py commented on #1855
Yes the issue is the same across SDKs, so we can drive the change process by doing it in ruby first. But we cannot change the old `with_scope`, so it will have to be a new API.

[2022-08-08 10:02] st0012 commented on #1855
That's fair. I'm not rushing to change it to be clear.
Will adding a keyword argument to `with_scope` be an option? Like `Sentry.with_scope(capture: true) { }`

[2022-08-08 10:03] sl0thentr0py commented on #1855
hmm yea good point!
As long as the old behavior is preserved/backward compatible, we should be good.

[2022-08-10 12:37] sl0thentr0py opened #1864 "Don't trace OPTIONS/HEAD requests by default"
We decided that OPTIONS/HEAD requests shouldn't be traced by default since they eat into quota a lot for some users and don't add much value.

See https://github.com/getsentry/sentry-javascript/pull/5485

[2022-08-11 22:00] RyanJWolfe commented on #7
I am also not seeing local variables getting captured (in Rails) using a similar config to @mecampbellsoup.

Rails 7.0.3, Ruby 3.1.2, and the latest `sentry-rails` and `sentry-ruby` gems.

`Sentry.init do |config|
  config.dsn = 'ENV['SENTRY_DSN']
  config.breadcrumbs_logger = %i[active_support_logger http_logger]

  config.capture_exception_frame_locals = true
end`

[2022-08-12 07:38] dim0627 opened #1865 "Got error `ArgumentError: wrong number of arguments (given 2, expected 1)`"
Hello team!
I have problem and need help.

I just update sentry-ruby from 4.3.1 to 5.4.1, I got this error with rspec.
Anyone have solution? Let me know please 🙏

[code]

[2022-08-12 08:42] sl0thentr0py opened #1866 "Transaction source"
Annotate all transaction naming exhaustively with sources as in
https://develop.sentry.dev/sdk/event-payloads/transaction/#transaction-annotations

[2022-08-12 08:45] st0012 commented on #1865
@dim0627 Can you provide the backtrace and the full list of Sentry related gems? That'll help us locate the cause

[2022-08-12 08:54] sl0thentr0py commented on #7
@RyanJWolfe could you give some Faraday request code so we can try to repro?

[2022-08-12 15:30] Jaco-Pretorius commented on #1865
I'm getting the exact same error, also within an rspec request spec.

`expect { get '/register.asp' }.to raise_error(ActionController::RoutingError)`

used to work, now I get

[code]

[2022-08-12 15:46] st0012 commented on #1865
@Jaco-Pretorius If you also got the error **after** you upgraded `sentry-ruby` to the latest version, it's because `sentry-rails` is not updated along with it. Once you also upgrade `sentry-rails`, it should solve the problem.
Unfortunately we don't have a way to enforce that as explained in: https://github.com/getsentry/sentry-ruby/issues/1859#issuecomment-1203071794

[2022-08-12 16:01] Jaco-Pretorius commented on #1865
@st0012 Ah, that did indeed fix it. I do wish there was a way to enforce that, or to make it more obvious. I ran into this error as part of a PR that dependabot opened.

At a high level, why can't `sentry-rails` just have `sentry-ruby` as a dependency? Then you would only need to add `sentry-rails` to your Gemfile and both would be updated at the same time?

[2022-08-12 23:08] dim0627 commented on #1865
@st0012
Thank you for reply!
And I'm sorry, I solved this problem after the update `sentry-rails`, `sentry-sidekiq` 🙏

[2022-08-12 23:08] #1865 closed

[2022-08-16 15:17] tvdeyen commented on #1858
When will this be released as gem?

[2022-08-16 15:43] sl0thentr0py commented on #1858
oh, I can do a patch release tomorrow

[2022-08-16 16:18] tvdeyen commented on #1858
Nice

[2022-08-17 13:03] sl0thentr0py commented on #1858
@tvdeyen 5.4.2 released

[2022-08-17 13:23] tvdeyen commented on #1858
@sl0thentr0py thank you 🙏🏻

[2022-08-19 05:32] ordinz commented on #143
[code]

[2022-08-19 05:33] ordinz commented on #143
[code]

[2022-08-22 03:36] RanX12 opened #1872 "SystemStackError: stack level too deep"
### Issue Description

[code]

Not sure if it's a bug

### Reproduction Steps

Gemfile add
[code]

add config/elastic_apm.yml
[code]

add config/initializers/sentry.rb
[code]

### Expected Behavior

run `bin/cap develop deploy` Should be deployed successfully, But it is wrong`SystemStackError: stack level too deep`

### Actual Behavior

SystemStackError: stack level too deep

### Ruby Version

2.7

[2022-08-23 00:17] #1854 closed

[2022-08-23 13:26] borlafdev opened #1873 "SystemStackError: stack level too deep (rake Task#execute redefinition conflicts with capistrano airbrush)"
### Issue Description

Possible duplicate of #1872 , but not sure.

Seems like the redefinition made by sentry gem of the Task#execute method conflicts with another redefinition made by capistrano's airbrush gem, causing infinite recursion...

Tried also loading the gem via GitHub, but no luck.

If any more info is needed, i'd be happy to help.

### Reproduction Steps

bundle exec cap STAGE deploy

[2022-08-23 14:21] mjhoy opened #1874 "Sentry/Rails: monotonic_active_support_logger results in incorrect timestamps"
### Issue Description

I believe that the `MonotonicActiveSupportLogger` is not submitting correct data to `Sentry::Breadcrumb`. We saw breadcrumb dates hovering around 1970 when we enabled this; switching to `ActiveSupportLogger` fixed the issue.

The reason for this is that I believe `ActiveSupport::Notifications.monotonic_subscribe` uses `Process.clock_gettime(Process::CLOCK_MONOTONIC)`. The va

[2022-08-23 14:22] e-jjj opened #1875 "Unable to fetch commits"
Hi There,

I'm setting up releases in the sentry.rb initialiser in rails following the documentation, https://docs.sentry.io/platforms/ruby/configuration/releases/#setting-a-release

The format i use in the release config is,

`config.release = app_name@app_version`

I can see the release being created under Releases in the sentry web portal (self hosted), however the commits tab doesn't show any

[2022-08-30 14:41] gerardo-navarro opened #1878 "ERROR -- sentry: "exception happened in background worker: execution expired"
On a production instance, we receive this error message. We have looked into this issue, but we where not able to find the cause for this error until now. We hope that the community has an idea.

## Actual Behavior

This error message is logged. The users are not impacted.

The error message suggests that a background worker is involved. This is unexpected as the instance logging this message is a

[2022-08-30 17:34] adipasquale commented on #1859
👍 thank you for the investigation and solution.
It took me a few days to realize I was not receiving events anymore, and a few hours before understanding where the problem came from and landing on this issue. Happy to learn it should be a one time thing :)

[2022-08-30 19:09] st0012 commented on #1878
Let me clarify the message a bit: the "background worker" here is the SDK's background worker, which is initialized by default for every Ruby process that runs the SDK. So even in Puma webserver's process, there's a SDK's background worker too. It's not your `delayed_job` background worker.

And the SDK initializes background workers because we want to dispatch user's Sentry events asynchronously

[2022-09-01 03:50] helmiattastify commented on #1757
hi @st0012 is there any way to remove log ??

[Transport] Sending envelope with items [transaction] 29382938kjaskjdkajkdjasd to Sentry

[2022-09-02 12:45] AlexWayfer commented on #1279
Update Faraday to version 2?

[2022-09-02 17:20] st0012 commented on #1279
@AlexWayfer Faraday is no longer the SDK's dependency after version 5.

[2022-09-02 21:55] st0012 commented on #1873
It's because `airbrussh` uses [alias_method](https://github.com/mattbrictson/airbrussh/blob/d440931db4f593fd0dbf14e310d6173f9b6973d3/lib/airbrussh/rake/context.rb#L58) to patch the method, which is known to conflict with the `prepend` approach we're using. And since the community consensus is to move away from `alias_method` to `prepend`, I recommend you to open an issue there.

[2022-09-02 21:55] #1873 closed

[2022-09-02 22:13] st0012 commented on #1872
This is caused by the same reason I mentioned [here](https://github.com/getsentry/sentry-ruby/issues/1873#issuecomment-1235923902). But in your case, `elasic-apm` actually already [fixed it after v4.0.0](https://github.com/elastic/apm-agent-ruby/commit/636319cdcdfe517757e397ba053b63cdb9ebb600). So you can fix it by upgrading it.

[2022-09-02 22:14] #1872 closed

[2022-09-02 22:29] AlexWayfer commented on #1279
Sorry, my bad, there left other dependencies after 4→5 update.

[2022-09-03 08:51] st0012 commented on #1427
Given that https://github.com/scoutapp/scout_apm_ruby/pull/448 has been released in version `5.3.0`. I'm closing this now.

If you have any similar issues, I recommend:

1. Check if the conflicting package patches the component with `alias_method`
    - If it does, please file an issue there because they should migrate to `prepend` or at least provide an option for it.
3. If it doesn't, check if t

[2022-09-03 08:51] #1427 closed

[2022-09-07 08:44] st0012 commented on #1874
@sl0thentr0py The only difference this logger provides are the timestamp format AFAIK. So if we remove the timestamp we might as well just remove the logger.

I think we can use `to_f` instead and let Sentry display the raw value (by sending string?). Then users can use them to compare the time elapse but don't try to think of it as a certain time. WDYT?

[2022-09-07 09:21] sl0thentr0py commented on #1874
Just sending a random float in the `timestamp` field will not work as far as I can tell because relay will try to [parse it as a `Timestamp`](https://github.com/getsentry/relay/blob/ee42532ce33dda15553879f6c8d07b74798bf00a/relay-general/src/protocol/types.rs#L1006-L1049) and it will probably end up in one of the error cases.

I think this monotonic stuff is more useful in span instrumentation than

[2022-09-07 09:49] st0012 commented on #1874
@sl0thentr0py Yeah then I don't see a value of keeping it for breadcrumbs. I think we can remove it from 6.0 by redirecting `monotonic_active_support_logger` to `active_support_logger`. But I want to check users' opinion before committing to drop it.

@mjhoy Why do you decide to use this logger instead of `active_support_logger` in the first place?

@morissetcl Do you still use logger? What do you

[2022-09-07 11:21] rodolfoBee opened #1883 "[sidekiq] unhandled errors not captured"
### Issue Description

A customer reported issues sending unhandled errors to Sentry using the sidekiq SDK. While events sent with `captureException` were sent correctly.

The customer believes the issue is related to the timing of initializations: The error handler that is added by sentry-sidekiq is being cleared later by Sidekiq (which appears to have been introduced in v6.5.x), so while the mid

[2022-09-07 15:33] mjhoy commented on #1874
@st0012 Not sure why, to be honest. Probably because "monotonic" sounded _better_ than not being monotonic. Looking at the documentation here: https://docs.sentry.io/platforms/ruby/guides/rails/configuration/options/ At the very least, I would expect that documentation to warn about the somewhat useless timestamp values.

[2022-09-08 02:55] jhubert opened #1885 "Using guard to run integration tests results in undefined method `set_transaction_name' for nil:NilClass"
### Issue Description

When I run my rails controller tests using guard I get an error ever since upgrading from 5.3.1 to 5.4.2.

[code]

The errors seems to be because `Sentry.get_current_scope` is returning `nil` and the code expects it to always return a scope.

[code]

I'm able to stop the error from happening by handling the `nil`:
[code]

But, this code hasn't changed in 2 years so I'm assum

[2022-09-09 10:42] nikhilDevarasetty opened #1886 "Missing configuration for HTTP headers sanitization"
**Describe the idea**
Unable to sanitize HTTP headers using sentry configuration

**Why do you think it's beneficial to most of the users**
It helps in sanitize any authentication or sensitive headers present in the HTTP request

[2022-09-09 11:04] st0012 commented on #1757
You can always customize the SDK's log level by:

[code]

[2022-09-10 07:36] st0012 opened #1887 "Add Ruby master to CI matrix"

[2022-09-14 09:37] sl0thentr0py opened #1890 "Make transaction required in Span constructor"
Not directly related to this change, but I think conceptually a `Span` should always have a `transaction`? Because a `Transaction` always has itself as the `transaction`, and it'll pass down to all `Span` that are created by it and their descendants.

If that's the case, do you think we should mark `transaction` as a required constructor param? Like

[code]

And then we can change `attr_accessor :

[2022-09-14 09:46] rbisol opened #1891 "undefined method `[]' for nil:NilClass in session.flusher.rb"
### Issue Description

A user has reported an issue in the Rails SDK. The stack trace points to [this file](https://github.com/getsentry/sentry-ruby/blob/master/sentry-ruby/lib/sentry/session_flusher.rb#L46) as can be seen the screenshot from the Sentry event:
![Screenshot 2022-09-14 at 11 44 23](https://user-images.githubusercontent.com/64906376/190120883-05b5a8bb-3936-4dce-bd90-af2da4122714.png)

[2022-09-14 09:48] st0012 commented on #1891
@sl0thentr0py Can you give this a look?

[2022-09-14 12:37] #1891 closed

[2022-09-15 08:52] #1887 closed

[2022-09-15 08:58] sl0thentr0py commented on #1885
@jhubert the only thing that changed is we added the `Sentry.close` API which does do some thread cleanup. Can you check if `close` is somehow being called in your test by putting a print statement [here](https://github.com/getsentry/sentry-ruby/blob/38c16033a225137afeb9e09046fc29bf14c43e9e/sentry-ruby/lib/sentry-ruby.rb#L240-L241).

[2022-09-15 09:34] sl0thentr0py commented on #1886
@nikhilDevarasetty please use a `before_send` to filter as per your needs

[code]

[2022-09-15 09:34] #1886 closed

[2022-09-15 11:17] smeubank opened #1895 "Add tracePropagationTargets option"
### Problem Statement

There is no mechanism to control where tracing is or is not propagated to. Leading to possibly sending useless tracing headers and contextual data to endpoints where it is not relevant.

this is from the PHP issue https://github.com/getsentry/sentry-php/issues/1361 but not sure what `GuzzleTracingMiddleware`

### Solution Brainstorm

Add the `tracePropagationTargets` option.

[2022-09-15 12:01] michaelkl opened #1896 "Sentry.with_scope block is not called when Sentry is not initialized"
### Issue Description

I'm using `Sentry.with_scope` to add custom context information for the piece of code.

Also, I don't want to have Sentry initialized during my tests run. I achieved it by bailing out of sentry initializer before `Sentry.init` is called.

It works fine except one thing. Now, code inside `with_scope` block _is not executed at all_. This behavior obviously breaks the applicati

[2022-09-15 12:12] st0012 commented on #1896
Thanks for reporting. I'll open a PR shortly

[2022-09-15 12:33] #1896 closed

[2022-09-15 18:08] sl0thentr0py opened #1899 "Span nesting for controller action incorrect"
The span nesting is still not 100% correct since the db spans here should be under the controller.
This is because we just subscribe to the rails notifier signals and only get them once stuff finishes and the current span is not updated as code executes.

![image](https://user-images.githubusercontent.com/6536764/190478134-4df60231-376c-4c1d-805b-d1c4301684e7.png)

[2022-09-15 20:03] markedmondson commented on #1885
@sl0thentr0py I think you're right. I added a `*** CLOSING THREAD ***` puts:

[code]

[2022-09-16 08:59] sl0thentr0py commented on #1885
@markedmondson so it's only with guard? I don't know how guard works, I'd need to read their source. Can you maybe give me a minimal repro with rails + guard or a bunch of precise steps to follow?

[2022-09-16 21:23] markedmondson commented on #1885
Yeah, with guard. I'll see what I can do. I would imagine Spring may suffer a similar problem and if not, it could drive a solution.

[2022-09-22 22:27] adamcooper commented on #1885
Here is a minimal repository with a reproduction of the issue with rails, guard, sentry: https://github.com/adamcooper/sentry_guard_bug

There are steps in the readme on how to reproduce the issue.  Let me know if you have questions.

You'll notice that running `rails test` works perfectly but running `bundle exec guard` doesn't work.  I only added Sentry on the final commit and before adding sent

[2022-09-27 15:46] AbhiPrasad opened #1903 "Align Span Operations"
As per https://github.com/getsentry/develop/pull/694, we should align our span operations.

| SDK             | Old Operation                             | New Operation                                  | Link                                                                                                                                                                  | PR

[2022-09-28 00:23] #1878 closed

[2022-09-28 14:29] sl0thentr0py opened #1904 "Add dynamic sampling support for all background queues"
* Add baggage to sidekiq
* Add both sentry-trace and baggage to delayed_job and resque

[2022-09-28 14:30] sl0thentr0py opened #1905 "Add meta tag helper for trace propagation"
* consolidate `sentry-trace`/`baggage` header generation like [python](https://github.com/getsentry/sentry-python/blob/f71a8f45e780525e52fa5868f45bb876dcf0994b/sentry_sdk/hub.py#L700-L731)

[2022-09-30 08:49] vladanpaunovic opened #1907 "Ruby SDK basic OTEL Support"
## We've published the [sentry OpenTelemetry gem](https://rubygems.org/gems/sentry-opentelemetry)! Docs here: https://docs.sentry.io/platforms/ruby/performance/instrumentation/opentelemetry/. Please give it a try and let us know what you think!

Need to spec out what would be needed in individual SDK to enable span processing
- for reference the hack week project in the [Sentry ruby SDK](https://g

[2022-09-30 14:24] moenodedev opened #1908 "How to exclude exceptions client side before .send_event?"
We use a Sidekiq job with async to filter exceptions and run other commands (like statsd) before and after reporting the event to Sentry.

When running `rails console` we see a deprecation warning about the Sentry `async` config.

[code]

How do we do we filter events and run custom commands after reporting client side? How can old code be converted to the new system?

[code]

[code]

[2022-10-03 12:27] #1835 closed

[2022-10-03 12:27] #1836 closed

[2022-10-03 12:27] #1866 closed

[2022-10-03 15:34] sl0thentr0py commented on #1908
@moenodedev if you're only using errors, you can just do this
[code]

[2022-10-04 22:47] hendra opened #1910 "Filtering ActionController::RoutingError Not Working In Production"
### Issue Description

Hi guys,

I am using traces_sampler to filtering out some ActionController::RoutingError from being sent to Sentry. I had implemented these tracer_sampler configuration on my app and those both are working well on development but not in production.

### Config 1
[code]

### Config 2
[code]

Here is the log in development :

![image](https://user-images.githubusercontent.com/

[2022-10-04 23:15] st0012 commented on #1910
@sl0thentr0py could this be affected by the `sentry-trace` or baggage the SDK receives?

[2022-10-05 04:23] hendra opened #1911 "Transaction sending failed: source sequence is illegal/malformed utf-8"
### Issue Description

Hi guys,

I got error **source sequence is illegal/malformed utf-8** on my project. This error caused by invalid JSON data and raised from this method line 21 :
https://github.com/getsentry/sentry-ruby/blob/5fc11d9278c2edd4d9b421cbf6414dff02726b4e/sentry-ruby/lib/sentry/envelope.rb#L21-L26

Here is the log :

![All-Apps-Papertrail (1)](https://user-images.githubusercontent.c

[2022-10-05 19:00] jpcody opened #1913 "Any possibility of tweaking @assets_regex?"
We have a domain-specific concept within our application of assets (that is, completely separate from Rails' assets). Thus, we have URLs like `/assets` and `/assets/123` and `/assets/5`. We configure our Rails assets prefix to be "asset" to avoid clobbering our own routes.

But because `@assets_regex` is defined like so:

[code]

In our application, it evaluates to:

[code]
Which means all of the

[2022-10-05 22:09] sl0thentr0py commented on #1913
not sure about the implication of that change (maybe @st0012 can pitch in?)
but we could just expose `assets_regex` as a config value.

[2022-10-06 09:09] moenodedev commented on #1908
In addition to the exception class and message we needed the calling class and we were able to get that from `event.to_hash["transaction"]`.

[code]

https://docs.sentry.io/platforms/ruby/configuration/options/

[2022-10-06 11:45] sl0thentr0py commented on #1908
cool @moenodedev glad you figured it out! closing since resolved, please reopen if necessary.

[2022-10-06 11:45] #1908 closed

[2022-10-06 12:02] sl0thentr0py commented on #1910
no I doubt it, this just seems to be about the `traces_sampler` config.
I'll take a deeper look in some time.

[2022-10-07 13:40] sl0thentr0py commented on #1911
thx for reporting @hendra, this because of how we [set the redis span description](https://github.com/getsentry/sentry-ruby/blob/c79aa348595aefe983d76d964dfec1a218d27e7e/sentry-ruby/lib/sentry/redis.rb#L55-L59) I guess. I'll try to fix it.

[2022-10-07 13:43] hendra commented on #1911
That's great!

[2022-10-07 15:16] #1911 closed

[2022-10-09 12:35] st0012 commented on #1913
Since it's not the core SDK, I think making this configurable is better than messing up regexp that may affect a lot of users.
I implemented the config option in https://github.com/getsentry/sentry-ruby/pull/1915

[2022-10-09 15:04] #1913 closed

[2022-10-10 13:34] jpcody commented on #1913
Thanks for the option on this!

[2022-10-11 06:46] phyzical commented on #1757
@st0012 sorry for bringing this back to life, but i found that making this change in the config block for sentry would update the overall apps logger to WARN, which means we loose things like route logs.

is there anyway to tell sentry not to notify that it is sending the envelopes besides at the logger level specifically?

[2022-10-14 06:27] Linuus commented on #1845
Would this solve the issue we have where our most important events are being dropped? (I've been asking about this in the Discord channel since this summer).

For instance, let's say we have a background job which is doing some work (enqueueing other jobs, making HTTP calls etc). Sometimes they take a long time and can't see those performance traces because they are being dropped (I think). Now, t